<section>
  <div class="row">
    <!-- SIDEBAR COLUMN -->
    <div class="col-lg-2 sideBar">

      <!-- SIDEBAR LINKS -->
      <div class="py-4 px-3">
        <div class="linkss  py-5">
          <p class="mb-3 ashBank">ASHBANK</p>
<ul class="liss">
  <li class="liss py-3"><a class="linkName" routerLink="/admin">Registered Users</a>
  </li>
  <li class="liss py-3 "><a class="linkName" routerLink="/credit">Credit Transactions</a></li>
  <li class="liss py-3 "><a class="linkName" routerLink="/debit">Debit Transactions</a></li>
    <li class="liss py-3 "><a class="linkName" routerLink="/loan">Quick Loan</a></li>
  <li class="liss py-3 "><a class="linkName" routerLink="/account">Account</a></li>
  <li class="liss py-3"><a class="linkName" routerLink="/report">Reports</a></li>
</ul>

          <ul class="py-5">
            <li class="liss py-3"><a class="logout" href="#">Logout</a>
          </ul>
        </div>
      </div>

      <!--END OF SIDEBAR LINKS -->


    </div>
    <!-- END OF SIDEBAR COLUMN -->
    <!-- <div class="col-lg-1 "></div> -->


    <div class="col-lg-8 py-5 px-5">
      <p class="welcome mt-3 mb-3 px-4">Welcome Back, Admin. <br /> <span class="How">How are you doing today? Today’s
          date is 1st August,
          2022.</span></p>

          

          <!-- TRANSACTION TABLE -->

      <div class="row py-3">



        <h2 class="tra mb-3 mt-3 px-3">All Transactions</h2>

        <!-- Transaction section -->
 <table class="table">
   <thead>
     <tr>
       <th scope="">Name</th>
       <th scope="col">Account</th>
       <th scope="col">Amount</th>
       <th scope="col">Type</th>
       <th scope="col">Date</th>
       <th scope="col">Status</th>
       <th scope="col">Action</th>


     </tr>
   </thead>
   <tbody>
     <tr>
       <td>Pius Ashogbon</td>
       <td>0085875008</td>
       <td>500,0000</td>
       <td>Credit</td>
       <td>12-07-2022</td>
       <td>Successful</td>
       <td>
        <a class="view text-center" href="/">Edit Info</a>
       </td>



     </tr>

   </tbody>
 </table>
        <!-- end of transaction  -->
      </div>

      <!-- END OF ALL TRANSACTIONS -->


      <div class="row py-3">


        <h2 class="tra mb-3 mt-3 px-3">All Registered Users</h2>

        <!-- Transaction section -->
        <table class="table">
          <thead>
            <tr>
              <th scope="">First Nme</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Account Number</th>
              <th scope="col">Registered Date</th>


            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pius </td>
              <td>Ashogbon</td>
              <td>piusash@gmail.com</td>
              <td>0085875008</td>
              <td>12-07-2022</td>



            </tr>

          </tbody>
        </table>
        <!-- end of transaction  -->
      </div>

    </div>
    <!-- END OF MAIN PAGE COLUMN -->
  </div>
</section>
