<section>
  <div class="row">
    <!-- SIDEBAR COLUMN -->
    <div class="col-lg-2 sideBar">

      <!-- SIDEBAR LINKS -->
      
<app-sidebar></app-sidebar>
      <!--END OF SIDEBAR LINKS -->


    </div>
    <!-- END OF SIDEBAR COLUMN -->
    <!-- <div class="col-lg-1 "></div> -->


    <div class="col-lg-9 py-5 px-5 mainPage">
      <p class="welcome mt-4 mb-3 px-4">Welcome Back, Admin. <br /><span class="How">How are you doing today? Today is
          {{myDate | date:'fullDate'}}</span></p>
      <!-- NEW TABLE FOR TESTING -->
      <div class="row">
<div class="container">
  <table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead class="theHead">
      <tr>
        <!-- <th>ID</th> -->
        <th>Full Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Account Number</th>
        <th>Date of birth</th>
        <th>Country</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let users of user">
 
        <!-- <td> {{users.id}}</td> -->
        <td> {{users.firstName}} {{users.lastName}}</td>
        <td>{{users.phoneNo}}</td>
        <td>{{users.email}}</td>
        <td>{{users.acctNo}} </td>
        <td>{{users.dob}}</td>
        <td>{{users.country}}</td>
        <td><p class="view">View</p></td>
      </tr>

    </tbody>
    
  </table>
</div>

      </div>

    </div>
    <!-- END OF MAIN PAGE COLUMN -->
  </div>
</section>



