<section>
  <div class="row">
    <!-- SIDEBAR COLUMN -->
    <div class="col-lg-2 sideBar">

      <!-- SIDEBAR LINKS -->
      <div class="py-4 px-5">
        <div class="linkss  py-5">
          <p class="mb-5 ashBank">ASHBANK</p>
          <ul class="liss">
            <li class="liss py-3"><a class="linkName" routerLink="/user">Dashboard</a>
            </li>
            <li class="liss py-3 "><a class="linkName" routerLink="/send">Overview</a></li>
            <li class="liss py-3 "><a class="linkName" routerLink="/receive">Transactions</a></li>
            <li class="liss py-3 "><a class="linkName" routerLink="/loan">Registered Users</a></li>
            <li class="liss py-3 "><a class="linkName" routerLink="/profile">Account Settings</a></li>
            <li class="liss py-3"><a class="linkName" routerLink="/report">Report</a></li>
          </ul>
          <ul class="py-5">
            <li class="liss py-3"><a class="logout">Logout</a>
          </ul>
        </div>
      </div>

      <!--END OF SIDEBAR LINKS -->


    </div>
    <!-- END OF SIDEBAR COLUMN -->
    <!-- <div class="col-lg-1 "></div> -->


    <div class="col-lg-9 py-5 px-5 mainPage">
      <p class="welcome mt-4 mb-3 px-4">Welcome Back, Admin. <br /><span class="How">How are you doing today? Today is
          {{myDate | date:'fullDate'}}</span></p>
      <!-- NEW TABLE FOR TESTING -->
      <div class="row">
<div class="container">
  <table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead class="theHead">
      <tr>
        <!-- <th>ID</th> -->
        <th>Full Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Account Number</th>
        <th>Date of birth</th>
        <th>Country</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let users of user">
 
        <!-- <td> {{users.id}}</td> -->
        <td> {{users.firstName}} {{users.lastName}}</td>
        <td>{{users.phoneNo}}</td>
        <td>{{users.email}}</td>
        <td>{{users.acctNo}} </td>
        <td>{{users.dob}}</td>
        <td>{{users.country}}</td>
        <td><p class="view">View</p></td>
      </tr>

    </tbody>
    
  </table>
</div>

      </div>

    </div>
    <!-- END OF MAIN PAGE COLUMN -->
  </div>
</section>



