<!-- Footer -->
<footer class="bg-footer py-5">
  <!-- Grid container -->
  <div class="container">

    <div class="row py-4">
      <div class="col-lg-3">
                          <h5 class="text-uppercase footerTitle">brand</h5>
        <p class="footerText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut rerum laborum explicabo perspiciatis facilis
          quibusdam.</p>
      </div>
      <div class="col-lg-3">
                  <h5 class="text-uppercase footerTitle px-5">Pages</h5>

                  <ul class="list-unstyled mb-0 px-5">
                    <li>
                      <a href="#!" class="footerLinks">Home</a>
                    </li>
                    <li>
                      <a href="#!" class="footerLinks">About Us</a>
                    </li>
                    <li>
                      <a href="#!" class="footerLinks">Blog</a>
                    </li>
                    <li>
                      <a href="#!" class="footerLinks">FAQ</a>
                    </li>
                    <li>
                      <a href="#!" class="footerLinks">Contact Us</a>
                    </li>
                  </ul>

      </div>
      <div class="col-lg-3">
         <h5 class="text-uppercase footerTitle">Navigate</h5>

         <ul class="list-unstyled mb-0">
           <li>
             <a href="#!" class="footerLinks">Advertiser</a>
           </li>
           <li>
             <a href="#!" class="footerLinks">Developer</a>
           </li>
           <li>
             <a href="#!" class="footerLinks">Resources</a>
           </li>
           <li>
             <a href="#!" class="footerLinks">Company</a>
           </li>
           <li>
             <a href="#!" class="footerLinks">Connect</a>
           </li>
         </ul>
      </div>
      <div class="col-lg-3">
                 <h5 class="text-uppercase footerTitle">Address</h5>
                 <p class="footerText">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum ipsum quos consectetur odio!</p>
      </div>
    </div>



  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div> -->
  <!-- Copyright -->

</footer>
<!-- Footer -->
