<!-- LOAN PAGE -->

<section>
  <div class="row">
    <!-- SIDEBAR COLUMN -->
    <div class="col-lg-2 sideBar">

      <!-- SIDEBAR LINKS -->
      <div class="py-4 px-5">
        <div class="linkss  py-5">
          <p class="mb-3 ashBank">ASHBANK</p>
          <ul class="liss">
            <li class="liss py-3"><a class="linkName" routerLink="/user">Dashboard</a>
            </li>
            <li class="liss py-3 "><a class="linkName" routerLink="/send">Send Money</a></li>
            <li class="liss py-3 "><a class="linkName" routerLink="/receive">Receive</a></li>
            <li class="liss py-3 "><a class="linkName" routerLink="/loan">Quick Loan</a></li>
            <li class="liss py-3 "><a class="linkName" routerLink="/profile">Profile</a></li>
            <li class="liss py-3"><a class="linkName" routerLink="/report">Report</a></li>
          </ul>

          <ul class="py-5">
            <li class="liss py-3"><a class="logout" href="#">Logout</a>
          </ul>
        </div>
      </div>

      <!--END OF SIDEBAR LINKS -->


    </div>
    <!-- END OF SIDEBAR COLUMN -->
    <!-- <div class="col-lg-1 "></div> -->


    <div class="col-lg-9 py-5 px-5">



      <div class="container">
        <form>
          <div class="d-flex flex-column align-items-center">
            <p class="fs-4 fw-bold m-0 mt-4">How much do you want?</p>
            <span class="text-muted">We provide online instant cash loans.</span>
            <span class="line my-3"></span>
          </div>
          <div class="row p-0">
            <div class="col-12 p-0 px-4">
              <span class="text-uppercase text-muted">amount you want</span>
            </div>
            <div class="col-12 p-0 px-4">
              <select class="form-select d-flex align-items-center py-2 px-2" id="amount" aria-label="">
                <option selected hidden>Select Amount</option>
                <option class="valAmount" value="100">10000</option>
                <option class="valAmount" value="200">12000</option>
                <option class="valAmount" value="300">12500</option>
                <option class="valAmount" value="400">13000</option>
                <option class="valAmount" value="500">15000</option>
                <option class="valAmount" value="500">20000</option>
                <option class="valAmount" value="500">25000</option>
              </select>
            </div>
            <div class="col-12 p-0 px-4">
              <span class="text-uppercase text-muted">month</span>
            </div>
            <div class="col-12 p-0 px-4">
              <select class="form-select d-flex align-items-center py-2 px-2" id="amount" aria-label="">
                <option selected hidden>Select Month</option>
                <option class="valAmount" value="jan"> 1 Month</option>
                <option class="valAmount" value="feb">2 Months</option>
                <option class="valAmount" value="mar">3 Months</option>
                <option class="valAmount" value="apr">4 Months</option>
                <option class="valAmount" value="may">5 Months</option>
                <option class="valAmount" value="jun">6 Months</option>
                <option class="valAmount" value="jul">7 Months</option>
                <option class="valAmount" value="aug">8 Months</option>
                <option class="valAmount" value="sept">9 Months</option>
                <option class="valAmount" value="oct">10 Months</option>
                <option class="valAmount" value="nov">11 Months</option>
                <option class="valAmount" value="dec">12 Months</option>
              </select>
            </div>
            <div class="col-12 p-0 px-4">
              <span class="text-uppercase text-muted">LOAN PURPOSE</span>
            </div>

            <div class="col-12 p-0 px-4">
              <select class="form-select d-flex align-items-center py-2 px-2" id="amount" aria-label="">
                <option selected hidden>Purpose</option>
                <option class="valAmount" value="100">Medical</option>
                <option class="valAmount" value="200">Business</option>
                <option class="valAmount" value="300">Education</option>
                <option class="valAmount" value="400">Consumption</option>
              </select>
            </div>
            <div class="col-12 p-0 px-4">
              <div class="d-flex align-items-center my-3">
                <span class="text-muted text-uppercase">you have to pay:</span>
                <span class="c-g ps-1">₦<span id="money">23,640</span></span>
              </div>
            </div>
            <div class="col-12 p-0 px-4">
              <div class="btn btn-primary w-100">apply now</div>
              <div class="text-muted text-center mb-4 mt-3">We provide online instant cash loans</div>
            </div>
          </div>
        </form>
      </div>



    </div>

  </div>
  <!-- END OF MAIN PAGE COLUMN -->
</section>
