/*  

.mainSection {
  background-color: rgba(255, 255, 255, 0.822);
}

body {
  overflow-x: hidden;
}



.Des {
  width: 423.422px;
  height: 63px;
  font-size: 15px;
  color: #08386d;
  font-weight: 400;
  font-family: 'Poppins',
    sans-serif;
}




.log {
  color: #354168;
  font-size: 30px;
  font-weight: 800 !important;

  font-family: 'Poppins',
    sans-serif;
}

.info{
  padding: 6px;
  font-size: 11px;
  font-family: 'Poppins',
  sans-serif;
  background-color: #C31E39;
  color: white;
  border: none;
  max-width: 150px;

}

.wel {
  color: #242424;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Poppins',
    sans-serif;
}

.heroImg {
  width: 100% !important;
  height: 450px !important;
  margin-top: 40px;

}


.form-control {
  height: 52px;
  width: 423.222px !important;
  border: 2px solid #C31E39 !important;
  border-radius: 11px !important;
}

.form-control:focus {
  border: none !important;

}



.submit1 {
  background-color: #C31E39 !important;
  height: 60px;
  width: 423.222px !important;
  border-radius: 11px !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  font-family: 'Poppins',
    sans-serif;
}

@media (max-width: 985px) {
  .heroImg {
    display: none;
  }
}



.form-control {
  height: 50px;
  width: 500px !important;
  border: 2px solid #e7e7e7 !important;
  border-radius: 11px !important;
  
}

.submit1 {
  background-color: #C31E39 !important;
  height: 60px;
  width: 500px !important;
  border-radius: 11px !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  font-family: 'Poppins',
    sans-serif;
}



::placeholder {
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Poppins',
    sans-serif;
}

.text-danger {
  font-weight: 500;
  font-family: 'Poppins',
    sans-serif;

}


.lg1 {
  color: #C31E39;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Poppins',
    sans-serif;
}

.forget {
  color: #858585;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Poppins',
    sans-serif;
}

.forget:hover {
  color: #858585;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Poppins',
    sans-serif;
}

.links {

  text-align: center;
  width: 423.222px !important;
  font-family: 'Poppins',
    sans-serif;
}

.coh {
  color: #808080;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Poppins',
    sans-serif;
}

.lg {
  color: #C31E39;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Poppins',
    sans-serif;
}



@media (max-width: 439px) {

  .form-control {
    height: 50px !important;
    width: 350px !important;
    border: 2px solid #C31E39 !important;
    border-radius: 11px !important;

  }

  .submit1 {
    background-color: #C31E39 !important;
    height: 50px;
    width: 350px !important;
    border-radius: 11px !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    justify-content: center;
    display: flex;
    font-family: 'Poppins',
      sans-serif;
  }

  .log {
    color: #C31E39;
    font-size: 25px;
    font-weight: 800 !important;
    font-family: 'Poppins',
      sans-serif;
  }

  .form {
    margin-left: 16px;

  }

  .Des {
    color: #08386d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Poppins',
      sans-serif;
  }

  .wel {
    margin-left: 18px;
    font-family: 'Poppins',
      sans-serif;
  }

  .links {

    text-align: center;
    width: 350px !important;
    margin-top: -20px;
    font-family: 'Poppins',
      sans-serif;
  }

  body {
    overflow-x: hidden;
  }
}
 



 */


 /* NEW CSS */

 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


 /* .bigWhole{
  background: rgb(247, 141, 141);
  background: linear-gradient(90deg, rgba(247, 141, 141, 0.027) 4rgba(232, 109, 115, 0.432) 1) 17%, rgba(136, 118, 121, 0.055) 71%);
 } */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   font-family: 'Montserrat', sans-serif;
 }

 body {
   background-color: teal;
   padding: 10px;
 }

 /* .container {
  max-width: 350px;
  /* margin: 50px auto; */
 /* background-color: white; */
 /* }  */

 .line {
   max-height: 10px;
   width: 370px;
   border-top: 2px solid #C31E39;
   
 }


 option {
   font-size: 14px;
 }

 .text-muted {
   font-size: 12px;
   color: #0a0a0a !important;
 }
 .formC, .openAcc{
  margin-left: 65px!important;
 }
.openAcc{
  margin-left: 70px!important;
 }

 .c-g {
   color: #C31E39;
   font-weight: 800;
 }

 .dropdown-toggle::after {
   content: '';
   border: none;
 }

 .form-select {
   font-size: 14px;
 }

 .form-select:focus {
   box-shadow: none;
   border: 1px solid #ddd;
 }

 .btn.btn-primary {
   text-transform: uppercase;
   font-size: 14px;
   height: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #C31E39;
   font-weight: 600;
   outline: none;
   border: none;
 }

 .valAmount {
   font-weight: 500;
   font-size: 15px;
   font-family: 'Poppins',
     sans-serif;
 }


 /* SIDEEBAR CSS */

 .sideBar {
   background-color: #C31E39;
   /* height: 100vh; */
 }

 .linkUL {
   text-decoration: none !important;
   /* justify-content: center;
    text-align: center; */
 }

 .linkName {
   text-decoration: none !important;
   text-align: left !important;
   font-size: 16px;
   color: #fff;
   font-weight: 400;
   /* margin-top: 5px; */
   font-family: 'Poppins',
     sans-serif;

 }

 .th {
   border-bottom: 1px solid #C31E39 !important;
 }

 .yourAcct {
   text-decoration: none !important;
   text-align: left !important;
   font-size: 16px;
   color: #fff;
   font-weight: 500;
   /* margin-top: 5px; */
   font-family: 'Poppins',
     sans-serif;

 }

 .yourAcctNo {
   text-decoration: none !important;
   text-align: left !important;
   font-size: 15px;
   color: #fff;
   font-weight: 500;
   /* margin-top: 5px; */
   font-family: 'Poppins',
     sans-serif;

 }

 .acctAmount {
   text-decoration: none !important;
   text-align: left !important;
   font-size: 30px;
   color: #fff;
   font-weight: 600;
   /* margin-top: 5px; */
   font-family: 'Poppins',
     sans-serif;

 }

 .priceContainer {
   justify-content: space-between;
 }

 .How {
   font-family: 'Poppins',
     sans-serif;
   font-size: 15px;
   font-weight: 400;
   color: #242424;
 }

 .money {
   background-color: white;
   color: #ac1c34;
   font-size: 14px;
   font-weight: 600;
   font-family: 'Poppins',
     sans-serif;
   border: none;
   border-radius: 6px;
   padding: 5px 8px 5px 8px;

 }

 .acctNo {
   text-decoration: none !important;
   text-align: left !important;
   font-size: 16px;
   color: #fff;
   font-weight: 600;
   /* margin-top: 5px; */
   font-family: 'Poppins',
     sans-serif;

 }

 .logout {
   text-decoration: none !important;
   text-align: left !important;
   font-size: 16px;
   background-color: #fff;
   color: #C31E39;
   font-weight: 500;
   /* margin-top: 5px; */
   font-family: 'Poppins',
     sans-serif;
   padding: 10px;
   border-radius: 5px;

 }

 .view {
   text-decoration: none !important;
   text-align: left !important;
   font-size: 15px;
   color: #C31E39;
   font-weight: 600;
   /* margin-top: 5px; */
   font-family: 'Poppins',
     sans-serif;

 }


 .linkName:hover {
   text-decoration: none;
   font-size: 18px;
   font-family: 'Poppins',
     sans-serif;

 }

 .liss {
   list-style: none;
 }

 .ashBank {
   font-size: 24px;
   font-family: 'Poppins',
     sans-serif;
   color: #fff;
   font-weight: 600;
 }
 .info {
   padding: 6px;
   font-size: 11px;
   font-family: 'Poppins',
     sans-serif;
   background-color: #C31E39;
   color: white;
   border: none;
   max-width: 150px;

 }
 .flex-column{
  justify-content: center;
  display: flex;
 }

 .coh {
   
   font-size: 13px;
   font-weight: 500;
   font-family: 'Montserrat',
   sans-serif;
 }
 .lg {
   color: #C31E39;
   font-size: 13px;
   font-weight: 600;
   text-decoration: none;
   font-family: 'Montserrat',
   sans-serif;
 }