

<section class="bg-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">

        <h1 class="log text-left">Create An Account</h1>

        <p class="Des text-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque impedit quae
          minus.</p>


        <form class="form">
          <div class="mb-3">
            <!-- <label for="exampleInputEmail1" class="form-label">First Name</label> -->
            <input type="email" placeholder="First Name" class="form-control shadow-sm" id="exampleInputEmail1"
              aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <!-- <label for="exampleInputEmail1" class="form-label">Last Name</label> -->
            <input type="email" placeholder="Last Name" class="form-control shadow-sm" id="exampleInputEmail1"
              aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <!-- <label for="exampleInputEmail1" class="form-label">Email</label> -->
            <input type="email" placeholder="Email" class="form-control shadow-sm" id="exampleInputEmail1"
              aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
            <input type="password" placeholder="Password" class="form-control shadow-sm" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <!-- <label for="exampleInputPassword1" class="form-label">Confirm Password</label> -->
            <input type="password" placeholder="Confirm Password" class="form-control shadow-sm" id="exampleInputPassword1">
          </div>

          <button type="submit" class="submit1 btn">Register Now</button>
          <div class="links py-3">


            <p class="coh py-1 text-center">Already have an Account? <span><a class="lg text-center"
                  routerLink="/login">Login Now</a></span></p>

          </div>
        </form>



      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</section>
