<!-- <section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">

        <h1 class="log text-left mt-4">Create An Account</h1>

        <form [formGroup]="registerForm" class="form" (ngSubmit)="register()">
          <div class="row">
            <div class="mb-3">

              <input formControlName="firstName" type="email" placeholder="First Name" class="form-control shadow-sm"
                id="exampleInputEmail1" aria-describedby="emailHelp">
              <span class="text-danger"
                *ngIf="registerForm.controls['firstName'].dirty && registerForm.hasError('required', 'firstName')">First
                Name is
                required</span>

            </div>

            <div class="mb-3">

              <input formControlName="lastName" type="email" placeholder="Last Name" class="form-control shadow-sm"
                id="exampleInputEmail1" aria-describedby="emailHelp">
              <span class="text-danger"
                *ngIf="registerForm.controls['lastName'].dirty && registerForm.hasError('required', 'lastName')">Last
                Name is
                required</span>

            </div>
          </div>
          <div class="mb-3">

            <input formControlName="email" type="email" placeholder="Email" class="form-control shadow-sm"
              id="exampleInputEmail1" aria-describedby="emailHelp">
            <span class="text-danger"
              *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required', 'email')">
              Email is
              required</span>



          </div>
          <div class="mb-3">

            <input type="email" maxlength="11" minlength="11" formControlName="phoneNo" placeholder="Phone Number"
              class="form-control shadow-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
            <span class="text-danger"
              *ngIf="registerForm.controls['phoneNo'].dirty && registerForm.hasError('required', 'phoneNo')">Phone
              Number is required</span>

          </div>

          <div class="mb-3">

            <input type="text" formControlName="acctNo" placeholder="Account Number" [value]="userAccount"
              class="form-control acctDsp shadow-sm" readonly
              aria-describedby="emailHelp">
            <span class="text-danger"
              *ngIf="registerForm.controls['acctNo'].dirty && registerForm.hasError('required', 'acctNo')">Account
              number must be generated via the above button</span>

          </div>
          <div class="mb-3">

            <input formControlName="password" type="password" placeholder="Password" class="form-control shadow-sm"
              id="exampleInputPassword1">
            <span class="text-danger"
              *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required', 'password')">
              Password is
              required</span>
          </div>
          <button type="button" class="info mb-1 mx-2" (click)="GenerateAccount()"> Generate Account Number</button>
          <button type="submit" [disabled]="!registerForm.valid" class="submit1 btn">Register Now</button>
          <div class="links py-3">


            <p class="coh py-1 text-center">Already have an Account? <span><a class="lg text-center"
                  routerLink="/login">Login Now</a></span></p>
            <p class="coh py-1 text-center"> <span><a class="lg1 text-center" routerLink="/">Back To Home</a></span></p>


          </div>
        </form>



      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</section> -->




<section class="bigWhole">
  <div class="row mt-1">

    <div class="col-lg-3 px-5">
    </div>

    <div class="col-lg-6 card ">

      <div class="row px-5">
        <div class="d-flex flex-column mt-4 openAcc">
          <p class="fs-4 fw-bold m-0 text-uppercase mt-1  px-5">Open an account</p>
                      <span class="text-muted px-5 mb-2">Welcome to the future of Savings & Investments</span>
          <span class="line my-1 px-3 mb-3"></span>
        </div>
        <form class="formC mb-2">
          <div class="row  mt-2">
            <div class="col-lg-4">
              <span class="text-uppercase text-muted">FIRST NAME</span>
              <input type="text" class="form-control shadow-sm d-flex align-items-center py-2 px-2"
                id="exampleInputPassword1">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
              <span class="text-uppercase text-muted">LAST NAME</span>
              <input type="text" class="form-control shadow-sm d-flex align-items-center py-2 px-2"
                id="exampleInputPassword1">
            </div>
          </div>


          <div class="row mt-2">
            <div class="col-lg-4">
              <span class="text-uppercase text-muted">phone number</span>
              <input type="text" class="form-control shadow-sm d-flex align-items-center py-2 px-2"
                id="exampleInputPassword1">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
              <span class="text-uppercase text-muted">email address</span>
              <input type="text" class="form-control shadow-sm d-flex align-items-center py-2 px-2"
                id="exampleInputPassword1">
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-lg-4">
              <span class="text-uppercase text-muted">date of birth</span>
              <input type="date" class="form-control shadow-sm d-flex align-items-center py-2 px-2"
                id="exampleInputPassword1">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
              <span class="text-uppercase text-muted">Gender</span>
              <select class="form-select d-flex align-items-center shadow-sm py-2 px-2" id="amount" aria-label="">
                <option selected hidden>Gender</option>
                <option class="valAmount" value="Male">Male</option>
                <option class="valAmount" value="Female">Female</option>
              </select>
            </div>
          </div>

                <div class="row mt-2">
            <div class="col-lg-9">
              <span class="text-uppercase text-muted">Address</span>
              <input type="address" class="form-control shadow-sm d-flex align-items-center py-2 px-2"
                id="exampleInputPassword1">
            </div> 
          </div> 

          <div class="row mt-2">
            <div class="col-lg-4">
              <span class="text-uppercase text-muted">state</span>
              <input type="text" class="form-control shadow-sm d-flex align-items-center py-2 px-2"
                id="exampleInputPassword1">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
              <span class="text-uppercase text-muted">country</span>
              <input type="text" class="form-control shadow-sm d-flex align-items-center py-2 px-2"
                id="exampleInputPassword1">
            </div>
          </div>

          <!-- GENERATE ACCOUNT -->
          <div class="row mt-2">
            <div class="col-lg-4">
               <button type="button" class="info " (click)="GenerateAccount()"> Generate Account
                 Number</button>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
              <span class="text-uppercase text-muted">aCCOUNT NUMBER</span>
              <input type="text" readonly [value]="userAccount" class="form-control shadow-sm d-flex align-items-center py-2 px-2"
                id="exampleInputPassword1">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-9">

              <div class="col-12 p-0">
                <!-- <button type="button" class="info mb-1 mx-2" (click)="GenerateAccount()"> Generate Account
                  Number</button> -->
                <div class="btn btn-primary w-100">create account</div>
              </div>
              <p class="coh mt-2 text-muted text-center">Already have an Account? <span><a class="lg text-center"
                    routerLink="/login">Login Now</a></span> OR <span><a class="lg text-center" routerLink="/">Back To
                        Home</a></span></p>

            </div>

          </div>


        </form>
      </div>

    </div>
    <div class="col-lg-3"></div>

  </div>
</section>
