<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand px-5 me-5" href="#"><img src="/assets/images/logo.jpg" alt="AshMoney Logo" style="width: 150px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto  mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Contact</a>
                </li>
              </ul>
      <div class="d-flex">

        <button class="navbtn me-3"><a class="navbtn" routerLink="/register">Open Account</a>
          </button>
        <button class="navbtn "><a class="navbtn" routerLink="/login">Login</a>
          </button>

      </div>
    </div>
  </div>
</nav>