<app-navbar></app-navbar>

<div class="container-fluid heroBg py-5">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-6">
        <h3 class="py-2 heroDes mt-5">Your Financial Status is in a Good hands</h3>
        <p class="heroText">Providing Digital banking solutions </p>
        <p class="loremText">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam ducimus consequuntur
          reiciendis, vero eligendi dolor saepe unde quas dolore ea laudantium ut magnam nostrum inventore veniam
          assumenda, cum voluptatum fugit!</p>
        <div class="d-flex">
          <button class="heroBtn me-3">Get Started</button>
          <button class="heroBtn">Contact Us</button>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</div>
<!-- next section -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="row px-4 py-4">
          <div class="col-lg-6">
            <div class="card text-center">
              <div class="card-body">
                <img class="mb-2" src="/assets/images/s1.png" alt="img">
                <h5 class="card-title py-2">Financial Loans</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>


              </div>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="card text-center">
              <div class="card-body">
                <img class="mb-2" src="/assets/images/s1.png" alt="img">
                <h5 class="card-title py-2">Lower Bank Fees</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>


              </div>
            </div>
          </div>
        </div>

        <div class="row px-4">
          <div class="col-lg-6">
            <div class="card text-center">
              <div class="card-body">
                <img class="mb-2" src="/assets/images/s6.png" alt="img">
                <h5 class="card-title py-2">Quick Decision</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>


              </div>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="card text-center">
              <div class="card-body">
                <img class="mb-2" src="/assets/images/s4.png" alt="img">
                <h5 class="card-title py-2">Direct Payment</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hideMobile">
        <div class="hideMobile">

          <p class="heroDes mt-5 mb-2">Our Core Features</p>
          <p class="nextText py-2">We are the trusted experts. <br /> We keep things simple</p>
          <p class="justText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, dicta illum nulla
            tempore at repellendus nihil saepe maxime exercitationem quidem voluptate consequuntur vel quam. Voluptates
            unde sed et at doloremque!</p>
          <p class="justText py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, incidunt.</p>
          <button class="heroBtn py-3">Read more</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- How it works -->
<section>
  <div class="container-fluid py-5 howBg">
    <div class="row mb-3">
      <p class="heroDes text-center">How it Works</p>
      <p class="loanText text-center">Get Your Loan in 3 Easy Steps</p>
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <p class="loremText2 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
          repellendus necessitatibus tempore fugit quis magnam laborum non earum ipsa quos?</p>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row px-5">
      <div class="col-lg-4">
        <div class="text-center">
          <img class="mb-2" src="/assets/images/s1.png" alt="img">
          <p class="howProcess">Select amount and terms</p>
          <p class="processText">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. A debitis
            aperiam, neque incidunt ex optio?</p>
        </div>

      </div>
      <div class="col-lg-4">
        <div class="text-center">
          <img class="mb-2" src="/assets/images/s1.png" alt="img">
          <p class="howProcess">Edit Your Personal Information</p>
          <p class="processText">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. A debitis
            aperiam, neque incidunt ex optio?</p>
        </div>

      </div>
      <div class="col-lg-4">
        <div class="text-center">
          <img class="mb-2" src="/assets/images/s1.png" alt="img">
          <p class="howProcess">Get Loan Approved in 48 hours</p>
          <p class="processText">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. A debitis
            aperiam, neque incidunt ex optio?</p>
        </div>

      </div>
    </div>

  </div>
</section>
<!-- another section -->
<section class="preFooter py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 px-5">
        <p class="heroDes">Our Core Features!</p>
        <p class="why">Why Choose Our Company</p>
        <p class="processText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex nam, distinctio cumque
          dolorum fugiat neque?</p>

        <div class="d-flex">
          <div>
            <img class="me-3" src="/assets/images/s1.png" alt="img">
          </div>
<div>
    <p class="feature">No Prepayment Or Hidden Fees </p>
    <p class="processText1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut rerum laborum explicabo perspiciatis facilis quibusdam.</p>
</div>
        </div>
        <div class="d-flex">
          <div>
            <img class="me-3" src="/assets/images/s6.png" alt="img">
          </div>
<div>
    <p class="feature">Direct Fund & Quick Loan Approval </p>
    <p class="processText1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut rerum laborum explicabo perspiciatis facilis quibusdam.</p>
</div>
        </div>
        <div class="d-flex">
          <div>
            <img class="me-3" src="/assets/images/s3.png" alt="img">
          </div>
<div>
    <p class="feature">Lots of Financial Options </p>
    <p class="processText1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut rerum laborum explicabo perspiciatis facilis quibusdam.</p>
</div>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</section>
<app-footer></app-footer>
