.navflex{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    font-family: 'Poppins',
    sans-serif;
    color: black !important;
    font-size: 14px;
    font-weight: 500;
}
.navbtn{
    padding: 6px 8px 6px 8px;
    background-color: #e93a47;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins',
    sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.navbar{
    border-bottom: 2px solid #e93a47;
}
