@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

.swal2-title {
  font-size: 10px!important;
}
.modal-content {
  text-align: center!important;
}
.modall-title{
  display: flex;
  justify-content: center!important;
}
.headText{
  color: #16192c;
  font-size: 16px;
  font-weight: 600;
}
input::placeholder {
  text-align: center;
}
.modal-footer{
  display: flex;
  justify-content: center;
}
.btn-secondary{
  font-size: 14px;
  font-weight: 500;
}

.swal2-input {
  background-color: #ff0000!important;
  color: #ffffff;
  border: none!important;
}

.swal2-footer{
  color: #C31E39!important;
}
input[required] {
  background-color: white;
}
.success{
  background-color: green;
}

.error{
  background-color: #ff0000;
}

.pin{
  text-align: center!important;
  font-size: 17px!important;
  font-weight: 500!important;
}
#navbarVertical{
    background-color: #C31E39!important;
}
#navbarVal{
    background-color: #c31e3a3d;
}
.nav-link{
  color: #fff!important;
}
.nav-link:hover{
  color: #000!important;
}
.bi{
  color: #fff!important;
}
.bi:hover{
  color: #000!important;
}
.form-control{
  border: 0px 0px 5px 0px!important;
  height: 40px!important;
}

.logout{
  cursor: pointer;
}

.send{
  color: #000;
}
/* .form{
  display: flex;
} */

.text-muted{
    font-weight: 400;
}
.line {
  max-height: 10px;
  width: 100px;
  border-top: 2px solid #c31e39;
}

option {
  font-size: 14px;
}

.text-muted {
  font-size: 12px;
  color: #0a0a0a !important;
}

.c-g {
  color: #c31e39;
  font-weight: 800;
}

/* .dropdown-toggle::after {
  content: "";
  border: none;
} */

.form-select {
  font-size: 14px;
}

.form-select:focus {
  box-shadow: none;
  border: 1px solid #ddd;
}

.btn.btn-primary {
  text-transform: uppercase;
  font-size: 14px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c31e39;
  font-weight: 600;
  outline: none;
  border: none;
}

.valAmount {
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/* SIDEEBAR CSS */



.th {
  border-bottom: 1px solid #c31e39 !important;
}

