<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full">
  <!-- Vertical Navbar -->
  <nav
    class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
    id="navbarVertical"
  >
    <div class="container-fluid">
      <!-- Toggler -->
      <button
        class="navbar-toggler ms-n2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarCollapse"
        aria-controls="sidebarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="#">
        <img
          src="assets/images/sidelogo.png"
          style="width: 200px; height: 100px"
          alt="..."
        />
      </a>
      <!-- User menu (mobile) -->
      <div class="navbar-user d-lg-none">
        <!-- Dropdown -->
        <div class="dropdown">
          <!-- Toggle -->
          <a
            href="#"
            id="sidebarAvatar"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="avatar-parent-child">
              <img
                alt="Image Placeholder"
                src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
                class="avatar avatar- rounded-circle"
              />
              <span class="avatar-child avatar-badge bg-success"></span>
            </div>
          </a>
          <!-- Menu -->
          <div
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="sidebarAvatar"
          >
            <a href="#" class="dropdown-item">Profile</a>
            <a href="#" class="dropdown-item">Settings</a>
            <a href="#" class="dropdown-item">Billing</a>
            <hr class="dropdown-divider" />
            <a href="#" class="dropdown-item">Logout</a>
          </div>
        </div>
      </div>
      <!-- Collapse -->
      <div
        class="collapse navbar-collapse"
        id="sidebarCollapse align-items-center"
      >
        <div class="mt-5"></div>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/{{ userAcct.id }}">
              <i class="bi bi-house"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/transactions/{{ userAcct.id }}">
              <i class="bi bi-bar-chart"></i> Transaction
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/send-money/{{ userAcct.id }}">
              <i class="bi bi-cash"></i> Send Money
              <!-- <span
                class="badge bg-soft-primary text-primary rounded-pill d-inline-flex align-items-center ms-auto"
                >6</span
              > -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/receive-money/{{ userAcct.id }}">
              <i class="bi bi-wallet-fill"></i> Receive Money
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quick-loan/{{ userAcct.id }}">
              <i class="bi bi-bookmarks"></i> Quick Loan
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-people"></i> Users
            </a>
          </li> -->
        </ul>
        <!-- Divider -->
        <hr class="navbar-divider my-5 opacity-20" />
        <!-- Navigation -->

        <!-- Push content down -->
        <!-- <div class="mt-auto"></div> -->
        <!-- User (md) -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/account-info/{{ userAcct.id }}">
              <i class="bi bi-person-square"></i> Account
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link logout"
             (click)="signOut()"
            >
              <i class="bi bi-box-arrow-left"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Logout Modal -->
  <div
    class="modal fade shadow justify-content-center"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-center">
            <i class="bi bi-question-circle-fill"></i>
          </div>
          <h4 class="modal-title text-center" id="exampleModalCenterTitle">
            Are you sure you want to log out?
          </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">
            Yes
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->

    <!-- Main -->
    <main class="">
      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop3"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel3"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title px-5" id="staticBackdropLabel3">
                Transaction Details
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body container">
          
              <ul class="list-group list-group-flush container text-black">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Sender</h6>

                  <span class=""> {{ userAcct.fullName }}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Recipient</h6>

                  <span class="">
                    {{ userAcct.fullName }} ( 06977797797 )
                  </span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Recipient Bank</h6>

                  <span class=""> {{ userAcct.bankName }} </span>
                </li>

                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Amount</h6>

                  <span class="">{{
                    userAcct.accountBalance | currency : "₦"
                  }}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Transaction Ref</h6>

                  <span class="">{{ userAcct.accountNumber }}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Narration</h6>

                  <span class="">{{ userAcct.dateCreated }}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Status</h6>

                  <span class="text-success">{{ userAcct.accountType }}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Transaction Date</h6>

                  <span class="">{{ userAcct.dateCreated }}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Transaction Ref</h6>

                  <span class="">{{ userAcct.dateCreated }}</span>
                </li>
              </ul>
              <div class="text-center printD">
                <button class="btn btn-sm print" (click)="print()">
                  Print Receipt
                </button>
              </div>
            </div>
            <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <p class="text-end">
          Last Logged In: {{ userAcct.lastLoggedIn | date : "medium" }}
        </p>

        <p class="welcome mt-1 mb-1 px-4">
          Welcome Back, {{ this.userAcct.fullName }} <br />
          <span class="How"
            >How are you doing today? Today is
            {{ myDate | date : "fullDate" }}</span
          >
        </p>
        <!-- Card stats -->

        <div class="row g-6 mb-6">
          <div class="col-xl-10 col-sm-6 col-12">
            <div class="card shadow border-0 account">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h3 font-semibold text-white text-sm d-block mb-2"
                      >Account Balance</span
                    >
                    <span class="acctAmount mb-0">{{
                      userAcct.accountBalance | currency : "₦"
                    }}</span>
                  </div>
                  <!-- <img src="/assets/images/money.svg" style="width: 150px;" alt=""> -->
                  <div class="col-auto bgg"></div>
                  <div class="col-auto">
                    <div class="d-flex fund">
                      <button
                        class="money me-2"
                        routerLink="/send-money/{{ userAcct.id }}"
                      >
                        Send Money
                      </button>
                      <button
                        class="money"
                        routerLink="/receive-money/{{ userAcct.id }}"
                      >
                        Receive Money
                      </button>
                    </div>
                  </div>
                </div>
                <div class="mt-2 mb-0 text-sm">
                  <span> </span>
                  <span class="text-nowrap text-xs text-white"
                    >Account NO:
                    <span class="fw-bold h5 text-white">{{
                      userAcct.accountNumber
                    }}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content card shadow" role="main">
          <input type="hidden" #selection [(ngModel)]="selectedCase" />
          <div class="card-container d-flex">
            <div
              class="p-4 tab"
              (click)="selection.value = 'transaction'"
              [ngClass]="{ active: selection.value === 'transaction' }"
              tabindex="0"
            >
              <h5 class="mb-0">Transaction history</h5>
            </div>
            <div
              class="p-4 tab"
              (click)="selection.value = 'loan'"
              [ngClass]="{ active: selection.value === 'loan' }"
              tabindex="0"
            >
              <h5 class="mb-0">Loan history</h5>
            </div>
          </div>
          <div class="terminal" [ngSwitch]="selection.value">
            <div *ngSwitchDefault="'transaction'">
              <div class="table-responsive">
                <table class="table table-hover table-nowrap text-center">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">trans ref</th>
                      <th scope="col">Sender</th>
                      <th scope="col">Beneficiary</th>
                      <th scope="col">Type</th>
                      <th class="amt" scope="col">Amount</th>
                      <th scope="col">Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let tran of transact
                          | paginate : { itemsPerPage: 3, currentPage: p }
                      "
                    >
                      <td>{{ tran.referenceNumber }}</td>
                      <td>{{ tran.sender }}</td>
                      <td>{{ tran.beneficiary }}</td>
                      <td
                        class="text-danger"
                        *ngIf="tran.sender == userAcct.fullName"
                      >
                        Debit
                      </td>
                      <td
                        class="text-success"
                        *ngIf="tran.sender != userAcct.fullName"
                      >
                        Credit
                      </td>
                      <td class="money1">{{ tran.amount | currency : "₦" }}</td>
                      <td>{{ tran.transactionDate | date : "dd-MM-yyyy" }}</td>
                      <td class="">
                        <p
                          class="btn btn-sm btn-neutral"
                          data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop3"
                        >
                          View
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
            <div *ngSwitchCase="'loan'">
              <div class="table-responsive">
                <table class="table table-hover table-nowrap text-center">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Request Date</th>
                      <th scope="col">Repayment Date</th>
                      <th class="amt" scope="col">Amount</th>
                      <th class="amt" scope="col">Principal</th>
                      <th class="amt" scope="col">Amount Paid</th>
                      <th scope="col">Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let tran of loans
                          | paginate : { itemsPerPage: 3, currentPage: p }
                      "
                    >
                      <td>{{ tran.requestDate | date : "dd-MM-yyyy" }}</td>
                      <td>{{ tran.repaymentDate | date : "dd-MM-yyyy" }}</td>
                      <td class="money1">{{ tran.amount | currency : "₦" }}</td>
                      <td class="money1">
                        {{ tran.principal | currency : "₦" }}
                      </td>
                      <td class="money1">
                        {{ tran.amountPaid | currency : "₦" }}
                      </td>
                      <td
                        [ngClass]="{
                          'status-paid': tran.status === 'Paid',
                          'status-not-paid': tran.status === 'Not Paid',
                          'status-due': tran.status === 'Due'
                        }"
                      >
                        {{ tran.status }}
                      </td>

                      <td  *ngIf="tran.status === 'Paid'" class="">
                        <p
                          class="btn btn-sm btn-neutral"
                          data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop"
                          (click)="viewModal(tran)"
                        >
                          View
                        </p>
                      </td>
                      <td *ngIf="tran.status === 'Not Paid'" class="">
                        <p
                          class="btn btn-sm btn-warning"
                          
                        >
                          Pay
                        </p>
                      </td>
                      <td *ngIf="tran.status === 'Due'" class="">
                        <p
                          class="btn btn-sm btn-danger"
                          
                        >
                          Pay
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="staticBackdrop"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="staticBackdropLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5
                          class="modal-title text-center"
                          id="staticBackdropLabel"
                        >
                          Loan Information
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <!-- <a class="navbar-brand text-center" href="#"><img src="/assets/images/ashmoney.PNG" alt="AshMoney Logo" style="width: 100px;"></a> -->
                        <ul
                          class="list-group list-group-flush container text-black"
                        >
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Request Date:</h6>

                            <span class="request-date"></span>
                          </li>

                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Repayment Date:</h6>

                            <span class="repayment-date"></span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Amount:</h6>

                            <span class="amount"></span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Principal:</h6>

                            <span class="principal"></span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Amount Paid:</h6>

                            <span class="amount-paid"></span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Status:</h6>

                            <span class="status" ></span>
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <div class="text-center printD">
                          <button class="btn btn-sm print" (click)="print()">
                            Print Receipt
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <table class="table table-hover table-nowrap text-center">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Request Date</th>
                  <th scope="col">Repayment Date</th>
                  <th class="amt" scope="col">Amount</th>
                  <th class="amt" scope="col">Principal</th>
                  <th class="amt"  scope="col">Amount Paid</th>
                  <th scope="col">Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let tran of loans
                      | paginate : { itemsPerPage: 3, currentPage: p }
                  "
                  
                >
                
                  <td>{{ tran.requestDate  | date : "dd-MM-yyyy"  }}</td>
                  <td>{{ tran.repaymentDate | date : "dd-MM-yyyy"}}</td>
                  <td class="money1">{{ tran.amount | currency : "₦" }}</td>
                  <td class="money1">{{ tran.principal | currency : "₦" }}</td>
                  <td class="money1">{{ tran.amountPaid | currency : "₦" }}</td>
                  
                  <td>{{ tran.status }}</td>
                  <td class="">
                    <p
                      class="btn btn-sm btn-neutral"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"
                    >
                      View
                    </p>
                  </td>
                </tr>
              </tbody>
            </table> -->
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
