@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

#navbarVertical{
    background-color: #C31E39!important;
}
.nav-link{
  color: #fff!important;
}
.nav-link:hover{
  color: #000!important;
}
.bi{
  color: #fff!important;
}
.bi:hover{
  color: #000!important;
}
.logout{
    cursor: pointer;
}
.How {
    font-family: 'Poppins',
    sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #242424;
}
.text-end{
    font-family: 'Poppins',
    sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #242424;
}
.welcome {
  color: #121212;
  font-size: 25px;
  font-family: 'Poppins',
  sans-serif;
  font-weight: 600;
}
.money{
    background-color: white;
    color: #ac1c34;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',
    sans-serif;
    border: none;
    border-radius: 6px;
    padding: 5px 8px 5px 8px;

}
.acctAmount {
  text-decoration: none!important;
  text-align: left!important;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  /* margin-top: 5px; */
  font-family: 'Poppins',
  sans-serif;

}
@media (max-width: 576px) {
.fund{
  margin-top: 0px;
}
}
.fund{
  margin-top: 50px;
}

.bgg{
  background-image: url(/assets/images/money.svg);
  width: 320px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

td{
  font-size: 14px;
  font-weight: 500;
}
.table td{
  padding: 5px 5px!important;
}

.money1{
  font-weight: 500;
  color: rgba(0, 0, 0, 0.808);
  text-align: end!important;
}
.amt{
  text-align: end;
}

.acctNo {
  text-decoration: none!important;
  text-align: left!important;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  /* margin-top: 5px; */
  font-family: 'Poppins',
  sans-serif;

}
.account{
    
background-image: linear-gradient(to right, #c31e39, #ac1c34, #961a2f, #80172a, #6b1524);
    border-radius: 30px;
}

th{
  font-weight: 600!important;
  font-size: 11px!important;
}
.text-danger, .text-success{
  font-weight: 600;
}

.list-group-item{
  padding: 10px 20px!important;
}
.print{
  background-color: #C31E39;
  color: #fff;
}
@media print {

  .prints {
    visibility: hidden;
  }
}
.modal-header{
  padding: 14px!important;
}
.tab{
  cursor: pointer;
}
.active{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 10px;
color: #E31E23;
border-bottom: 3px solid #C31E39;
/* margin-bottom: 30px!important; */

  }
/* .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #C31E39!important;
    color: #fefefe;
    cursor: default;
} */
