<!-- Dashboard -->
<!-- DESKTOP VIEW -->
<!-- flex-column flex-lg-row h-lg-full -->
<div class=" " id="desktopContent">
  <!-- Vertical Navbar -->
  <nav
    class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
    id="navbarVertical"
  >
    <div class="container-fluid">
      <!-- Toggler -->
      <button
        class="navbar-toggler ms-n2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarCollapse"
        aria-controls="sidebarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="#">
        <img
          src="assets/images/sidelogo.png"
          style="width: 200px; height: 100px"
          alt="..."
        />
      </a>
      <!-- User menu (mobile) -->
      <div class="navbar-user d-lg-none">
        <!-- Dropdown -->
        <div class="dropdown">
          <!-- Toggle -->
          <a
            href="#"
            id="sidebarAvatar"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="avatar-parent-child">
              <img
                alt="Image Placeholder"
                src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
                class="avatar avatar- rounded-circle"
              />
              <span class="avatar-child avatar-badge bg-success"></span>
            </div>
          </a>
          <!-- Menu -->
          <div
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="sidebarAvatar"
          >
            <a href="#" class="dropdown-item">Profile</a>
            <a href="#" class="dropdown-item">Settings</a>
            <a href="#" class="dropdown-item">Billing</a>
            <hr class="dropdown-divider" />
            <a href="#" class="dropdown-item">Logout</a>
          </div>
        </div>
      </div>
      <!-- Collapse -->
      <div
        class="collapse navbar-collapse"
        id="sidebarCollapse align-items-center"
      >
        <div class="mt-5"></div>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/{{ userAcct.id }}">
              <i class="bi bi-house"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/transactions/{{ userAcct.id }}">
              <i class="bi bi-bar-chart"></i> Transaction
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/send-money/{{ userAcct.id }}">
              <i class="bi bi-cash"></i> Send Money
              <!-- <span
                class="badge bg-soft-primary text-primary rounded-pill d-inline-flex align-items-center ms-auto"
                >6</span
              > -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/receive-money/{{ userAcct.id }}">
              <i class="bi bi-wallet-fill"></i> Receive Money
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quick-loan/{{ userAcct.id }}">
              <i class="bi bi-bookmarks"></i> Quick Loan
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-people"></i> Users
            </a>
          </li> -->
        </ul>
        <!-- Divider -->
        <hr class="navbar-divider my-5 opacity-20" />
        <!-- Navigation -->

        <!-- Push content down -->
        <!-- <div class="mt-auto"></div> -->
        <!-- User (md) -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/account-info/{{ userAcct.id }}">
              <i class="bi bi-person-square"></i> Account
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link logout"
             (click)="signOut()"
            >
              <i class="bi bi-box-arrow-left"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->

    <!-- Main -->
    <main class="">
      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop3"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel3"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title px-5" id="staticBackdropLabel3">
                Transaction Details
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body container">
          
              <ul class="list-group list-group-flush container text-black">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Sender</h6>

                  <span class="sender"></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Recipient</h6>

                  <span class="beneficiary">

                  </span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Recipient Bank</h6>

                  <span class="beneficiary-bank"> </span>
                </li>

                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Amount</h6>

                  <span class="amount"></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Transaction Ref</h6>

                  <span class="reference-number"></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Narration</h6>

                  <span class="narration"></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Status</h6>

                  <span class="text-success status"></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Transaction Date</h6>

                  <span class="transaction-date"></span>
                </li>
               
              </ul>
              <div class="text-center printD">
                <button class="btn btn-sm print" (click)="print()">
                  Print Receipt
                </button>
              </div>
            </div>
            <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <p class="text-end">
          Last Logged In: {{ userAcct.lastLoggedIn | date : "medium" }}
        </p>

        <p class="welcome mb-1 px-4">
          Welcome Back, {{ this.userAcct.fullName }} <br />
          <span class="How"
            >How are you doing? Today is
            {{ myDate | date : "fullDate" }}</span
          >
        </p>
        <!-- Card stats -->

        <div class="row g-6 mb-6">
          <div class="col-xl-10 col-sm-6 col-12">
            <div class="card shadow border-0 account">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h3 font-semibold text-white text-sm d-block mb-2"
                      >Account Balance</span
                    >
                    <span class="acctAmount mb-0">{{
                      userAcct.accountBalance | currency : "₦"
                    }}</span>
                  </div>
                  <!-- <img src="/assets/images/money.svg" style="width: 150px;" alt=""> -->
                  <div class="col-auto bgg"></div>
                  <div class="col-auto">
                    <div class="d-flex fund">
                      <button
                        class="money me-2"
                        routerLink="/send-money/{{ userAcct.id }}"
                      >
                        Send Money
                      </button>
                      <button
                        class="money"
                        routerLink="/receive-money/{{ userAcct.id }}"
                      >
                        Receive Money
                      </button>
                    </div>
                  </div>
                </div>
                <div class="mt-2 mb-0 text-sm">
                  <span> </span>
                  <span class="text-nowrap text-xs text-white"
                    >Account NO:
                    <span class="fw-bold h5 text-white">{{
                      userAcct.accountNumber
                    }}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content card shadow" role="main">
          <input type="hidden" #selection [(ngModel)]="selectedCase" />
          <div class="card-container d-flex">
            <div
              class="p-4 tab"
              (click)="selection.value = 'transaction'"
              [ngClass]="{ active: selection.value === 'transaction' }"
              tabindex="0"
            >
              <h5 class="mb-0">Transaction history</h5>
            </div>
            <div
              class="p-4 tab"
              (click)="selection.value = 'loan'"
              [ngClass]="{ active: selection.value === 'loan' }"
              tabindex="0"
            >
              <h5 class="mb-0">Loan history</h5>
            </div>
            <!-- <div
              class="p-4 tab ms-auto"
              
            >
              <input class=" search p-2" type="text" [(ngModel)]="searchText" placeholder="Search by transRef">
            </div> -->
          </div>
          <div class="terminal" [ngSwitch]="selection.value">
            <div *ngSwitchDefault="'transaction'">
              <div class="table-responsive">
                <table class="table table-hover table-nowrap text-center">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Date</th>

                      <th scope="col">trans ref</th>
                      <th scope="col">Sender</th>
                      <th scope="col">Beneficiary</th>
                      <th scope="col">trans Type</th>
                      <th class="amt" scope="col">Amount</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let tran of transact
                          | paginate : { itemsPerPage: 5, currentPage: transactionPage  }
                      "
                    >
                      <td>{{ tran.transactionDate | date : "dd-MM-yyyy" }}</td>

                      <td>{{ tran.referenceNumber }}</td>
                      <td>{{ tran.sender }}</td>
                      <td>{{ tran.beneficiary }}</td>
                      <td
                        class="text-danger"
                        *ngIf="tran.sender == userAcct.fullName"
                      >
                        Debit
                      </td>
                      <td
                        class="text-success"
                        *ngIf="tran.sender != userAcct.fullName"
                      >
                        Credit
                      </td>
                      <td class="money1">{{ tran.amount | currency : "₦" }}</td>
                      <td class="">
                        <p
                          class="btn btn-sm btn-neutral"
                          data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop3"
                          (click)="viewTransactionModal(tran)"
                        >
                          View
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              

                  <pagination-controls
                    (pageChange)="transactionPage  = $event"
                  ></pagination-controls>
                  <!-- <div class="results-range container px-5">Showing {{(transactionPage - 1) * 3 + 1}} to {{(transactionPage - 1) * 3 + transact.length}} of {{transact.length}} results</div> -->
                
              </div>
            </div>
            <div *ngSwitchCase="'loan'">
              <div class="table-responsive">
                <table class="table table-hover table-nowrap text-center">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Request Date</th>
                      <th scope="col">Repayment Date</th>
                      <th class="amt" scope="col">Amount</th>
                      <th class="amt" scope="col">Principal</th>
                      <th class="amt" scope="col">Amount Paid</th>
                      <th scope="col">Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let tran of loans
                          | paginate : { itemsPerPage: 5, currentPage: loanPage }
                      "
                    >
                      <td>{{ tran.requestDate | date : "dd-MM-yyyy" }}</td>
                      <td>{{ tran.repaymentDate | date : "dd-MM-yyyy" }}</td>
                      <td class="money1">{{ tran.amount | currency : "₦" }}</td>
                      <td class="money1">
                        {{ tran.principal | currency : "₦" }}
                      </td>
                      <td class="money1">
                        {{ tran.amountPaid | currency : "₦" }}
                      </td>
                      <td
                        [ngClass]="{
                          'status-paid': tran.status === 'Paid',
                          'status-not-paid': tran.status === 'Not Paid',
                          'status-due': tran.status === 'Due'
                        }"
                      >
                        {{ tran.status }}
                      </td>

                      <td  *ngIf="tran.status === 'Paid'" class="">
                        <p
                          class="btn btn-sm btn-neutral"
                          data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop"
                          (click)="viewModal(tran)"
                        >
                          View
                        </p>
                      </td>
                      <td *ngIf="tran.status === 'Not Paid'" class="">
                        <p
                          class="btn btn-sm btn-warning"  data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop5" (click)="repayModal(tran, tran.loanId)"
                          
                        >
                          Pay
                        </p>
                      </td>
                      <td *ngIf="tran.status === 'Due'" class="">
                        <p
                          class="btn btn-sm btn-danger"  data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop5"  (click)="repayModal(tran, tran.loanId)"
                          
                        >
                          Pay
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>

<!-- PAY MODAL -->
      <div
        class="modal fade"
        id="staticBackdrop5"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">


            </div>
            <div class="modal-body container">
              <h5 class="h5 headText text-center py-5">
                ENTER YOUR AMOUNT
              </h5>

              <!-- modal content -->
<form [formGroup]="repayForm" (ngSubmit)="onMakePayment()">
   <div class="col-12 p-0 px-4">

     <!-- <input type="number"  formControlName="amount" [(ngModel)]="amount" (ngModelChange)="formatAmount()" onkeydown="return event.key !== 'e'" class="form-control shadow-sm d-flex align-items-center pin py-3 px-2" placeholder="Enter Amount">
      <p id="moneyy" class="text-center">Amount: {{ formattedAmount}}</p> -->


      <input type="number" formControlName="amount" [(ngModel)]="amount" (ngModelChange)="formatAmount($event)" onkeydown="return event.key !== 'e'" class="form-control shadow-sm d-flex align-items-center pin py-3 px-2" placeholder="Enter Amount">
           <span class="text-danger mt-3"
                    *ngIf="repayForm.controls['amount'].touched && repayForm.hasError('required', 'amount')">Please enter an Amount</span>
      <div class="d-flex justify-content-between align-items-center text-center text-black mt-2">

        <p id="moneyy" class="text-center">Amount: <br><span class="moneyy"> {{ formattedAmount}}</span></p> 
        <p id="moneyy" class="text-center">Loan Balance: <br><span class="money"> </span></p>
      </div>
      <div class="d-flex justify-content-between align-items-center text-center text-black">

        <p id="moneyy" class="text-center">Request Date: <br><span class="request-date"></span></p> 
        <p id="moneyy" class="text-center">Repayment Date: <br><span class="repayment-date"> </span></p>
      </div>

      

  

   </div>
   <!-- <div class=" text-center text-muted py-2"> <span style="color: #C31E39; font-weight: 500; font-style: 10px!important;">Repay on time.</span>
                </div> -->

                 <div class="modal-footer">
              
              <button type="submit" style="background-color: #C31E39; border: none;" class="btn btn-primary" [disabled]="repayForm.invalid">Pay Now</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
</form>

            </div>
           
       <!-- <div class=" text-center text-muted py-2"> <span style="color: #C31E39; font-weight: 600; font-style: 10px!important;">Do not share your PIN with anyone.</span>
                </div> -->
          </div>
        </div>
      </div>
      
                

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="staticBackdrop"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="staticBackdropLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5
                          class="modal-title text-center"
                          id="staticBackdropLabel"
                        >
                          Loan Information
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <!-- <a class="navbar-brand text-center" href="#"><img src="/assets/images/ashmoney.PNG" alt="AshMoney Logo" style="width: 100px;"></a> -->
                        <ul
                          class="list-group list-group-flush container text-black"
                        >
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Request Date:</h6>

                            <span class="request-date"></span>
                          </li>

                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Repayment Date:</h6>

                            <span class="repayment-date"></span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Amount:</h6>

                            <span class="amount"></span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Principal:</h6>

                            <span class="principal"></span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Amount Paid:</h6>

                            <span class="amount-paid"></span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Status:</h6>

                            <span class="status" ></span>
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <div class="text-center printD">
                          <button class="btn btn-sm print" (click)="print()">
                            Print Receipt
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <table class="table table-hover table-nowrap text-center">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Request Date</th>
                  <th scope="col">Repayment Date</th>
                  <th class="amt" scope="col">Amount</th>
                  <th class="amt" scope="col">Principal</th>
                  <th class="amt"  scope="col">Amount Paid</th>
                  <th scope="col">Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let tran of loans
                      | paginate : { itemsPerPage: 3, currentPage: p }
                  "
                  
                >
                
                  <td>{{ tran.requestDate  | date : "dd-MM-yyyy"  }}</td>
                  <td>{{ tran.repaymentDate | date : "dd-MM-yyyy"}}</td>
                  <td class="money1">{{ tran.amount | currency : "₦" }}</td>
                  <td class="money1">{{ tran.principal | currency : "₦" }}</td>
                  <td class="money1">{{ tran.amountPaid | currency : "₦" }}</td>
                  
                  <td>{{ tran.status }}</td>
                  <td class="">
                    <p
                      class="btn btn-sm btn-neutral"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"
                    >
                      View
                    </p>
                  </td>
                </tr>
              </tbody>
            </table> -->
                <pagination-controls
                  (pageChange)="loanPage  = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        
      </div>


    </main>
  </div>
</div>





<!-- MOBILE VIEW --------------------------------------------------------------------------------------------->
<div class="" id="mobileContent">
  <nav class="navbar navbar-expand-lg shadow-sm navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" alt="AshMoney Logo" style="width: 125px;"></a>
    <button class="navbar-toggler" (click)="toggler()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav p-3">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page"  routerLink="/user/{{ userAcct.id }}"> <i class="bi bi-house"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/transactions/{{ userAcct.id }}"><i class="bi bi-bar-chart"></i> Transactions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/send-money/{{ userAcct.id }}">              <i class="bi bi-cash"></i> Send Money</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/receive-money/{{ userAcct.id }}">              <i class="bi bi-wallet-fill"></i> Receive Money</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/quick-loan/{{ userAcct.id }}"> <i class="bi bi-bookmarks"></i> Quick Loan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/account-info/{{ userAcct.id }}">              <i class="bi bi-person-square me-2"></i>Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link logout"  (click)="signOut()">              <i class="bi bi-box-arrow-left me-2"></i>Logout</a>
                </li>
              </ul>
      
    </div>
  </div>
</nav>


<div class="container">
  <ul class="nav nav-tabs overflow-x " style="border-bottom: 2px solid #c31e39;">
            <li class="nav-item">
              <a routerLink="/user/{{ userAcct.id }}" class="nav-link ttt "> <i class="bi bi-house"></i> Dashboard</a>
            </li>
            <li class="nav-item ">
              <a  routerLink="/transactions/{{ userAcct.id }}" class="nav-link ttt font-regular"><i class="bi bi-bar-chart"></i> Transactions</a> 
            </li> 
            
            <li class="nav-item">
              <a routerLink="/send-money/{{ userAcct.id }}" class="nav-link ttt font-regular"><i class="bi bi-cash"></i> Send Money</a> 
            </li>
            <li class="nav-item">
              <a routerLink="/receive-money/{{ userAcct.id }}" class="nav-link ttt font-regular">              <i class="bi bi-wallet-fill me-1"> </i>Receive Money</a>
            </li>
            <li class="nav-item">
              <a routerLink="/quick-loan/{{ userAcct.id }}" class="nav-link ttt font-regular"> <i class="bi bi-bookmarks"></i> Quick Loan</a>
            </li>
            <li class="nav-item">
              <a routerLink="/account-info/{{ userAcct.id }}" class="nav-link ttt font-regular"><i class="bi bi-person-square"></i> Personal Information</a>
            </li>
            <li class="nav-item">
              <a (click)="signOut()" class="nav-link font-regular"><i class="bi bi-box-arrow-left me-2"></i>Logout</a>
            </li>
          </ul>
</div>
 
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" alt="AshMoney Logo" style="width: 100px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page"  routerLink="/user/{{ userAcct.id }}"> <i class="bi bi-house"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/transactions/{{ userAcct.id }}"><i class="bi bi-bar-chart"></i> Transactions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/send-money/{{ userAcct.id }}">              <i class="bi bi-cash"></i> Send Money</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/receive-money/{{ userAcct.id }}">              <i class="bi bi-wallet-fill"></i> Receive Money</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/quick-loan/{{ userAcct.id }}"> <i class="bi bi-bookmarks"></i> Quick Loan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/account-info/{{ userAcct.id }}">              <i class="bi bi-person-square"></i>Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  (click)="signOut()">Logout</a>
                </li>
              </ul>
    </div>
  </div>
</nav> -->


  <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->

    <!-- Main -->
    <main class="">


      <div class="">


        
        <!-- <p class="text-end">
          Last Logged In: {{ userAcct.lastLoggedIn | date : "medium" }}
        </p> -->

        <p class="welcome mb-1 px-4 py-5">
         <span class="use"> Welcome Back,</span> {{ this.userAcct.fullName }} <br />
        </p>
        <!-- Card stats -->

      
          <div class="col-sm-12 mb-6">
            <div class="card shadow border-0 account">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h3 font-semibold text-white text-sm d-block mb-2"
                      >Account Balance</span
                    >
                    <span class="acctAmount mb-0">{{
                      userAcct.accountBalance | currency : "₦"
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="cash">
                      <button
                        class="btn btn-sm sendReceive me-2"
                        routerLink="/send-money/{{ userAcct.id }}"
                      >
                        Send Money
                      </button>
                      <button
                        class="btn btn-sm sendReceive"
                        routerLink="/receive-money/{{ userAcct.id }}"
                      >
                        Receive Money
                      </button>
                    </div>
                  </div>
                </div>
 <div class="mt-2 mb-0 text-sm">
    <span> </span>
    <span class="text-nowrap text-xs text-white"
      >Account NO:
      <span #accountNumber class="fw-bold h5 text-white">{{ userAcct.accountNumber }}</span>
    </span>
    <span (click)="copyToClipboard(accountNumber)" class="icon">

<i class="bi bi-clipboard p-2" style="cursor: pointer; color: white!important;"></i>
    </span>
  </div>
  <textarea #hiddenTextarea style="opacity: 0; position: absolute; left: -1000px; top: -1000px;"></textarea>
                <!-- <div class="mt-2 mb-0 text-sm">
                  <span> </span>
                  <span class="text-nowrap text-xs text-white"
                    >Account NO:
                    <span class="fw-bold h5 text-white">{{
                      userAcct.accountNumber
                    }}</span>
                  </span>
                </div> -->
              </div>
            </div>
          </div>
        


      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop3mobile"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel3"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title px-5" id="staticBackdropLabel3">
                Transaction Details
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body container">
          
              <ul class="list-group list-group-flush container text-black">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Sender</h6>

                  <span class="sender"></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Recipient</h6>

                  <span class="beneficiary">

                  </span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Recipient Bank</h6>

                  <span class="beneficiary-bank"> </span>
                </li>

                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Amount</h6>

                  <span class="amount"></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Transaction Ref</h6>

                  <span class="reference-number"></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Narration</h6>

                  <span class="narration"></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Status</h6>

                  <span class="text-success status"></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">Transaction Date</h6>

                  <span class="transaction-date"></span>
                </li>
               
              </ul>
              <div class="text-center printD">
                <button class="btn btn-sm print" (click)="print()">
                  Print Receipt
                </button>
              </div>
            </div>
            <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
          </div>
        </div>
      </div>


        <div class="content card shadow" role="main">
          <input type="hidden" #selection [(ngModel)]="selectedCase" />
          <div class="card-container d-flex">
            <div
              class="p-4 tab"
              (click)="selection.value = 'transaction'"
              [ngClass]="{ active: selection.value === 'transaction' }"
              tabindex="0"
            >
              <h5 class="mb-0">Transaction history</h5>
            </div>
            <div
              class="p-4 tab"
              (click)="selection.value = 'loan'"
              [ngClass]="{ active: selection.value === 'loan' }"
              tabindex="0"
            >
              <h5 class="mb-0">Loan history</h5>
            </div>
            <!-- <div
              class="p-4 tab ms-auto"
              
            >
              <input class=" search p-2" type="text" [(ngModel)]="searchText" placeholder="Search by transRef">
            </div> -->
          </div>
          <div class="terminal" [ngSwitch]="selection.value">
            <div *ngSwitchDefault="'transaction'">
              <div class="table-responsive text-center">
                <table class="table table-hover table-nowrap text-center">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Date</th>

                      <th scope="col">trans ref</th>
                      <th scope="col">Sender</th>
                      <th scope="col">Beneficiary</th>
                      <th scope="col">trans Type</th>
                      <th class="amt" scope="col">Amount</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let tran of transact
                          | paginate : { itemsPerPage: 6, currentPage: transactionPage  }
                      "
                    >
                      <td>{{ tran.transactionDate | date : "dd-MM-yyyy" }}</td>

                      <td>{{ tran.referenceNumber }}</td>
                      <td>{{ tran.sender }}</td>
                      <td>{{ tran.beneficiary }}</td>
                      <td
                        class="text-danger"
                        *ngIf="tran.sender == userAcct.fullName"
                      >
                        Debit
                      </td>
                      <td
                        class="text-success"
                        *ngIf="tran.sender != userAcct.fullName"
                      >
                        Credit
                      </td>
                      <td class="money1">{{ tran.amount | currency : "₦" }}</td>
                      <td class="">
                        <p
                          class="btn btn-sm btn-neutral"
                          data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop3mobile"
                          (click)="viewTransactionModalMobile(tran)"
                        >
                          View
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              

                  <pagination-controls
                    (pageChange)="transactionPage  = $event"
                  ></pagination-controls>
                  <!-- <div class="results-range container px-5">Showing {{(transactionPage - 1) * 3 + 1}} to {{(transactionPage - 1) * 3 + transact.length}} of {{transact.length}} results</div> -->
                
              </div>
            </div>
            <div *ngSwitchCase="'loan'">
              <div class="table-responsive">
                <table class="table table-hover table-nowrap text-center">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Request Date</th>
                      <th scope="col">Repayment Date</th>
                      <th class="amt" scope="col">Amount</th>
                      <th class="amt" scope="col">Principal</th>
                      <th class="amt" scope="col">Amount Paid</th>
                      <th scope="col">Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let tran of loans
                          | paginate : { itemsPerPage: 6, currentPage: loanPage }
                      "
                    >
                      <td>{{ tran.requestDate | date : "dd-MM-yyyy" }}</td>
                      <td>{{ tran.repaymentDate | date : "dd-MM-yyyy" }}</td>
                      <td class="money1">{{ tran.amount | currency : "₦" }}</td>
                      <td class="money1">
                        {{ tran.principal | currency : "₦" }}
                      </td>
                      <td class="money1">
                        {{ tran.amountPaid | currency : "₦" }}
                      </td>
                      <td
                        [ngClass]="{
                          'status-paid': tran.status === 'Paid',
                          'status-not-paid': tran.status === 'Not Paid',
                          'status-due': tran.status === 'Due'
                        }"
                      >
                        {{ tran.status }}
                      </td>

                      <td  *ngIf="tran.status === 'Paid'" class="">
                        <p
                          class="btn btn-sm btn-neutral"
                          data-bs-toggle="modal"
                          data-bs-target="#staticBackdropmobile"
                          (click)="viewModalMobile(tran)"
                        >
                          View
                        </p>
                      </td>
                      <td *ngIf="tran.status === 'Not Paid'" class="">
                        <p
                          class="btn btn-sm btn-warning"  data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop5mobile" (click)="repayModalMobile(tran, tran.loanId)"
                          
                        >
                          Pay
                        </p>
                      </td>
                      <td *ngIf="tran.status === 'Due'" class="">
                        <p
                          class="btn btn-sm btn-danger"  data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop5mobile"  (click)="repayModalMobile(tran, tran.loanId)"
                          
                        >
                          Pay
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>

<!-- PAY MODAL -->
      <div
        class="modal fade"
        id="staticBackdrop5mobile"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">


            </div>
            <div class="modal-body container">
              <h5 class="h5 headText text-center py-5">
                ENTER YOUR AMOUNT
              </h5>

              <!-- modal content -->
<form [formGroup]="repayForm" (ngSubmit)="onMakePayment()">
   <div class="col-12 p-0 px-4">

     <!-- <input type="number"  formControlName="amount" [(ngModel)]="amount" (ngModelChange)="formatAmount()" onkeydown="return event.key !== 'e'" class="form-control shadow-sm d-flex align-items-center pin py-3 px-2" placeholder="Enter Amount">
      <p id="moneyy" class="text-center">Amount: {{ formattedAmount}}</p> -->


      <input type="number" formControlName="amount" [(ngModel)]="amount" (ngModelChange)="formatAmount($event)" onkeydown="return event.key !== 'e'" class="form-control shadow-sm d-flex align-items-center pin py-3 px-2" placeholder="Enter Amount">
           <span class="text-danger mt-3"
                    *ngIf="repayForm.controls['amount'].touched && repayForm.hasError('required', 'amount')">Please enter an Amount</span>
      <div class="d-flex justify-content-between align-items-center text-center text-black mt-2">

        <p id="moneyy" class="text-center">Amount: <br><span class="moneyy"> {{ formattedAmount}}</span></p> 
        <p id="moneyy" class="text-center">Loan Balance: <br><span class="money"> </span></p>
      </div>
      <div class="d-flex justify-content-between align-items-center text-center text-black">

        <p id="moneyy" class="text-center">Request Date: <br><span class="request-date"></span></p> 
        <p id="moneyy" class="text-center">Repayment Date: <br><span class="repayment-date"> </span></p>
      </div>

      

  

   </div>
   <!-- <div class=" text-center text-muted py-2"> <span style="color: #C31E39; font-weight: 500; font-style: 10px!important;">Repay on time.</span>
                </div> -->

                 <div class="modal-footer">
              
              <button type="submit" style="background-color: #C31E39; border: none;" class="btn btn-primary" [disabled]="repayForm.invalid">Pay Now</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
</form>

            </div>
           
       <!-- <div class=" text-center text-muted py-2"> <span style="color: #C31E39; font-weight: 600; font-style: 10px!important;">Do not share your PIN with anyone.</span>
                </div> -->
          </div>
        </div>
      </div>
      
                

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="staticBackdropmobile"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="staticBackdropLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5
                          class="modal-title text-center"
                          id="staticBackdropLabel"
                        >
                          Loan Information
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <!-- <a class="navbar-brand text-center" href="#"><img src="/assets/images/ashmoney.PNG" alt="AshMoney Logo" style="width: 100px;"></a> -->
                        <ul
                          class="list-group list-group-flush container text-black"
                        >
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Request Date:</h6>

                            <span class="request-date"></span>
                          </li>

                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Repayment Date:</h6>

                            <span class="repayment-date"></span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Amount:</h6>

                            <span class="amount"></span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Principal:</h6>

                            <span class="principal"></span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Amount Paid:</h6>

                            <span class="amount-paid"></span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                          >
                            <h6 class="mb-0">Status:</h6>

                            <span class="status" ></span>
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <div class="text-center printD">
                          <button class="btn btn-sm print" (click)="print()">
                            Print Receipt
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <table class="table table-hover table-nowrap text-center">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Request Date</th>
                  <th scope="col">Repayment Date</th>
                  <th class="amt" scope="col">Amount</th>
                  <th class="amt" scope="col">Principal</th>
                  <th class="amt"  scope="col">Amount Paid</th>
                  <th scope="col">Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let tran of loans
                      | paginate : { itemsPerPage: 3, currentPage: p }
                  "
                  
                >
                
                  <td>{{ tran.requestDate  | date : "dd-MM-yyyy"  }}</td>
                  <td>{{ tran.repaymentDate | date : "dd-MM-yyyy"}}</td>
                  <td class="money1">{{ tran.amount | currency : "₦" }}</td>
                  <td class="money1">{{ tran.principal | currency : "₦" }}</td>
                  <td class="money1">{{ tran.amountPaid | currency : "₦" }}</td>
                  
                  <td>{{ tran.status }}</td>
                  <td class="">
                    <p
                      class="btn btn-sm btn-neutral"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"
                    >
                      View
                    </p>
                  </td>
                </tr>
              </tbody>
            </table> -->
                <pagination-controls
                  (pageChange)="loanPage  = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        
      </div>


    </main>
  </div>
              <div class=" bg-blue  p-2 text-center fixed-bottom">
                 <small class="text-center">Developed By <a class="fw-bold" href="https://www.linkedin.com/in/piusash/">Pius Ashogbon</a></small>
                 
            </div>
</div>


