<section>
  <div class="row mt-5">
    <div class="col-lg-3">


    </div>



    <div class="col-lg-6 card mt-2">

      <div class="row py-5">

        <div class="d-flex flex-column mt-5 welcome text-center">
          <p class="fs-4 fw-bold m-0 text-uppercase py-1">Welcome back</p>
          <span class="text-muted">Please insert your phone number and password to proceed</span>
          <span class="line my-1"></span>
        </div>
        <form class="row formRow mb-5 mt-4" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">


            <div class="row mt-2">
              <div class="col-lg-9">
                <span class="text-uppercase text-muted">Phone number</span>
                <input type="number" formControlName="phoneNo" maxlength="11" minlength="11"
                  class="form-control shadow-sm d-flex align-items-center py-2 px-2" id="exampleInputPassword1">
                  <span class="text-danger"
                    *ngIf="loginForm.controls['phoneNo'].dirty && loginForm.hasError('required', 'phoneNo')">Phone
                    Number is required</span>

              </div>
            </div>

            <div class="row mt-2">
              <div class="col-lg-9">
                <span class="text-uppercase text-muted">Password</span>
                <input type="password" formControlName="password"
                  class="form-control shadow-sm d-flex align-items-center py-2 px-2" id="pass">
                <span class="text-danger"
                  *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">Password is
                  required</span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-9">

                <div class="col-12 p-0">
                  <button type="submit" class="btn btn-primary w-100">Log in</button>
                </div>
                <p class="coh mt-3 text-muted text-center">Don't have an Account? <span><a class="lg text-center"
                      routerLink="/register">Open Account</a></span> OR <span><a class="lg text-center" routerLink="/">
                      Home</a></span></p>

              </div>
            </div>

            <div class="col-lg-2"></div>
          </div>


        </form>
      </div>
    </div>

    <div class="col-lg-3"></div>

  </div>
  <!-- END OF MAIN PAGE COLUMN -->
</section>
