<section class="bg-light  py-5">
   <div class="container">
     <div class="row py-4">
            <div class="col-lg-7 py-5">
              <h1 class="log">Login to your Dashboard</h1>

              <p class="Des">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque impedit quae
                minus
                totam ea, architecto quis aut doloremque ipsa.</p>
              <p class="wel py-2">Welcome Back!</p>


              <form class="form">
                <div class="mb-4">
                  <!-- <label for="exampleInputEmail1" class="form-label">Email</label> -->
                  <input type="email" placeholder="Email" class="form-control shadow-sm" id="exampleInputEmail1"
                    aria-describedby="emailHelp">

                </div>
                <div class="mb-4">
                  <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                  <input type="password" placeholder="Password" class="form-control shadow-sm" id="exampleInputPassword1">
                </div>

                <button type="submit" class="submit1 btn">Log in</button>
                <div class="links py-3">
                  

                  <p class="coh py-1 text-center">To Create a New Account   <span><a class="lg text-center"
                        routerLink="/register">Register Now</a></span></p>

                </div>
              </form>

            
        </div>

        <div class="col-lg-5">
             <img class="heroImg" src="/assets/images/undraw_Projections_re_ulc6-removebg-preview.png" alt="">
        </div>
     </div>
   </div>
 </section>
