<div class="container-fluid px-1  px-lg-1 px-xl-5 mx-auto">
  <div class="border-0">
    <div class="row d-flex">
      <div class="col-lg-6 hideMobile">
        <div class="card1 pb-5">
          <div class="row">
            <img class="" src="/assets/images/logo.jpg" class="logo" />
          </div>
          <div class="row px-3 justify-content-center mt-5 mb-5 border-line">
            <img class="mt-5" src="/assets/images/draw.svg" class="image" />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card2 card border-0 px-4 ">

          <div class="row mt-4">
            <p class="welcome mb-2">Open Account</p>
            <!-- <p>Kindly signup with your credentials</p> -->
            <!-- <div class="line"></div>
                        <small class="or text-center">Or</small> -->
            <!-- <div class="line"></div> -->
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="Register()">
            <div class="row">
              <div class="col-lg-12 p-1">
                <label class="mb-1"
                  ><h6 class="mb-0 text-sm">Full Name</h6></label
                >
                <input
                  class=""
                  formControlName="fullName"
                  type="text"
                  name="fullName"
                  placeholder="Enter your Full Name"
                />
                <span class="text-danger"
                *ngIf="registerForm.controls['fullName'].touched && registerForm.hasError('required', 'fullName')">Full
                Name is
                required</span>
              </div>
              
            </div>
            <div class="row">
              <div class="col-lg-6 p-1">
                <label class="mb-1"
                  ><h6 class="mb-0 text-sm">Email</h6></label
                >
                <input
                  class=""
                  formControlName="email"
                  type="text"
                  name="email"
                  placeholder="Enter your email address"
                />
                              <span class="text-danger"
                *ngIf="registerForm.controls['email'].touched && registerForm.hasError('required', 'email')">
                Email is
                required</span>
                              <!-- <span class="text-danger"
                *ngIf="registerForm.controls['email'].touched && registerForm.hasError('pattern', 'email')">
                Enter a Valid Email Address</span> -->
              </div>
              <div class="col-lg-6 p-1">
                <label class="mb-1"
                  ><h6 class="mb-0 text-sm">Phone Number</h6></label
                >
                <input
                  class=""
                  formControlName="phoneNumber"
                  type="number"
                  name="phoneNumber"
                  placeholder="Enter your phone number"
                />
                <span class="text-danger"
                *ngIf="registerForm.controls['phoneNumber'].touched && registerForm.hasError('required', 'phoneNumber')">Phone
                Number is required</span>
              </div>
            </div>
            <!-- <div class="row px-3 mb-4">
              <label class="mb-1"
                ><h6 class="mb-0 text-sm">Email Address</h6></label
              >
              <input
                class=""
                formControlName="email"
                type="text"
                name="email"
                placeholder="Enter a valid email address"
              />
              
            </div> -->
            <div class="row">
              <label class="mb-1"><h6 class="mb-0 text-sm">Address</h6></label>
<input
                  class=""
                  formControlName="address"
                  type="text"
                  name="address"
                  placeholder="Enter your Address"
                />
                              <span class="text-danger"
                *ngIf="registerForm.controls['address'].touched && registerForm.hasError('required', 'address')">
                Address is
                required</span>
            </div>

            <div class="row">
              <div class="col-lg-6 p-1">
                <label class="mb-1"
                  ><h6 class="mb-0 text-sm">Date of Birth</h6></label
                >
                <input
                  class="" minAgeValidator="18"
                  formControlName="dateOfBirth"
                  type="date"
                  name="dateOfBirth"
                 
                  
                />
                                      <!-- <span class="text-danger"
      *ngIf="registerForm.controls['dateOfBirth'].touched && registerForm.controls['dateOfBirth'].hasError('minAge')">
  You must be 18 or older to continue!
</span> -->
<span class="text-danger"
      *ngIf="registerForm.controls['dateOfBirth'].touched && registerForm.controls['dateOfBirth'].hasError('required')">
  Date of Birth is required
</span>


                 <!-- <span *ngIf="registerForm.controls['date'].invalid && registerForm.controls['date'].touched && registerForm.hasError('minAge', 'dateOfBirth')">
   
      You must be 18 or older to continue!

                 </span> -->
                                              <!-- <span class="text-danger"
                *ngIf="registerForm.controls['dateOfBirth'].invalid && registerForm.controls['dateOfBirth'].touched && registerForm.hasError('minAge', 'dateOfBirth')"> You must be 18 or older to continue!</span> -->
              </div>
              <div class="col-lg-6 p-1">
                <label class="mb-1"
                  ><h6 class="mb-0 text-sm">Gender</h6></label
                >
                <select class="" name="gender" id="gender" formControlName="gender">
                  <option aria-selected="true" disabled>Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
</select>
                <!-- <input
                  class=""
                  formControlName="gender"
                  type="text"
                  name="gender"
                  placeholder="gender"
                /> -->
                              <span class="text-danger"
                *ngIf="registerForm.controls['gender'].touched && registerForm.hasError('required', 'gender')">Gender is
                required</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 p-1">
                <label class="mb-1"
                  ><h6 class="mb-0 text-sm">Password</h6></label
                >
                <input
                  class=""
                  formControlName="password"
                  type="password"
                  name="password"
                  placeholder="Enter your password"
                />
                              <span class="text-danger"
                *ngIf="registerForm.controls['password'].touched && registerForm.hasError('required', 'password')">
                Password is
                required</span>
                
              </div>
              <div class="col-lg-6 p-1">
                <label class="mb-1"
                  ><h6 class="mb-0 text-sm">Confirm Password</h6></label
                >
                <input
                  class=""
                  formControlName="confirmPassword"
                  type="password"
                  name="password"
                  placeholder="Confirm Password"
                />
                              <span class="text-danger"
                *ngIf="registerForm.controls['confirmPassword'].touched && registerForm.hasError('required', 'confirmPassword')">
                Password is
                required</span>
              </div>
            </div>

            <div class="row mb-1">
              <button
                type="submit"
                [disabled]="registerForm.invalid"
                class="btn btn-blue text-center py-2 w-100 fw-bold"
              >
                Create an Account
              </button>
            </div>
          </form>
          <div class="row  px-3">
            <small class="font-weight-bold text-center"
              >Already have an account? <a routerLink="/login" class="text-danger log">Login Now</a></small
            >
          </div>
          <div class="row  px-3">
            <small class="font-weight-bold text-center"
              >Back To <a routerLink="/" class="text-danger log">HomePage</a></small
            >
          </div>
        </div>
      </div>
      <!-- <div class="bg-blue"> -->

      <!-- </div> -->
    </div>
  </div>
</div>

<div class="row bg-blue fixed-bottom p-2 hideMobile">
  <div class="col-lg-6">
    <small class="copy">Copyright &copy; 2022. All rights reserved.</small>
  </div>

  <div class="col-lg-6 text-center">
    <span class="bi bi-facebook text-sm"></span>
    <span class="bi bi-github text-sm"></span>
    <span class="bi bi-linkedin text-sm"></span>
    <span class="bi bi-twitter text-sm"></span>
  </div>
</div>

