<!-- LOAN PAGE -->

<section>
  <div class="row">
    <!-- SIDEBAR COLUMN -->
    <div class="col-lg-2 sideBar">

      <!-- SIDEBAR LINKS -->
      <div class="py-4 px-5">
        <div class="linkss  py-5">
          <p class="mb-3 ashBank">ASHBANK</p>
<ul class="liss">
  <li class="liss py-3"><a class="linkName" routerLink="/admin">Registered Users</a>
  </li>
  <li class="liss py-3 "><a class="linkName" routerLink="/credit">Credit Transactions</a></li>
  <li class="liss py-3 "><a class="linkName" routerLink="/debit">Debit Transactions</a></li>
  <li class="liss py-3 "><a class="linkName" routerLink="/loan">Quick Loan</a></li>
  <li class="liss py-3 "><a class="linkName" routerLink="/account">Profile</a></li>
  <li class="liss py-3"><a class="linkName" routerLink="/report">Reports</a></li>
</ul>


          <ul class="py-5">
            <li class="liss py-3"><a class="logout" href="#">Logout</a>
          </ul>
        </div>
      </div>

      <!--END OF SIDEBAR LINKS -->


    </div>
    <!-- END OF SIDEBAR COLUMN -->
    <!-- <div class="col-lg-1 "></div> -->


    <div class="col-lg-9 py-5 px-5">

<div class="row py-3">
  <p class="tra1 py-1 px-2">Debit Transactions</p>
  <!-- Transaction section -->
  <table class="table">
    <thead>
      <tr>
        <th scope="">Name</th>
        <th scope="col">Account</th>
        <th scope="col">Amount</th>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>


      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pius Ashogbon</td>
        <td>0085875008</td>
        <td>500,0000</td>
        <td>Debit</td>
        <td>12-07-2022</td>
        <td>Successful</td>



      </tr>

    </tbody>
  </table>
  <!-- end of transaction  -->
</div>



    </div>

  </div>
  <!-- END OF MAIN PAGE COLUMN -->
</section>
