



<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full">
  <!-- Vertical Navbar -->
  <nav
    class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
    id="navbarVertical"
  >
    <div class="container-fluid">
      <!-- Toggler -->
      <button
        class="navbar-toggler ms-n2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarCollapse"
        aria-controls="sidebarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="#">
        <img
          src="assets/images/sidelogo.png" style="width: 200px; height: 100px;"
          alt="..."
        />
      </a>
      <!-- User menu (mobile) -->
      <div class="navbar-user d-lg-none">
        <!-- Dropdown -->
        <div class="dropdown">
          <!-- Toggle -->
          <a
            href="#"
            id="sidebarAvatar"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="avatar-parent-child">
              <img
                alt="Image Placeholder"
                src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
                class="avatar avatar- rounded-circle"
              />
              <span class="avatar-child avatar-badge bg-success"></span>
            </div>
          </a>
          <!-- Menu -->
          <div
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="sidebarAvatar"
          >
            <a href="#" class="dropdown-item">Profile</a>
            <a href="#" class="dropdown-item">Settings</a>
            <a href="#" class="dropdown-item">Billing</a>
            <hr class="dropdown-divider" />
            <a href="#" class="dropdown-item">Logout</a>
          </div>
        </div>
      </div>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidebarCollapse align-items-center">
        <div class="mt-5"></div>
        <!-- Navigation -->
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/{{userAcct.id}}">
              <i class="bi bi-house"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/transactions/{{userAcct.id}}">
              <i class="bi bi-bar-chart"></i> Transaction
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/send-money/{{userAcct.id}}">
              <i class="bi bi-cash"></i> Send Money
              <!-- <span
                class="badge bg-soft-primary text-primary rounded-pill d-inline-flex align-items-center ms-auto"
                >6</span
              > -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/receive-money/{{userAcct.id}}">
              <i class="bi bi-wallet-fill"></i> Receive Money
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="/quick-loan/{{userAcct.id}}">
              <i class="bi bi-bookmarks"></i> Quick Loan
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-people"></i> Users
            </a>
          </li> -->
        </ul>
        <!-- Divider -->
        <hr class="navbar-divider my-5 opacity-20" />
        <!-- Navigation -->

        <!-- Push content down -->
        <!-- <div class="mt-auto"></div> -->
        <!-- User (md) -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="account-info/{{userAcct.id}}">
              <i class="bi bi-person-square"></i> Account
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link logout"  data-toggle="modal"
              data-target="#exampleModalCenter">
              <i class="bi bi-box-arrow-left"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Logout Modal -->
  <div
    class="modal fade shadow justify-content-center"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-center">
            <i class="bi bi-question-circle-fill"></i>
          </div>
          <h4 class="modal-title text-center" id="exampleModalCenterTitle">
            Are you sure you want to log out?
          </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="logout()">
            Yes
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->
    
    <!-- Main -->
    <main class="py-6">
    <!-- CONTENTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT   -->
        <div class="col-lg-9 py-5">



<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-6">

      <div class="container py-5">
        <form class="py-5" [formGroup]="loanRequestForm" (ngSubmit)="onSubmit()">
          <div class="d-flex flex-column align-items-center">
            <p class="fs-4 text-black fw-bold m-0 mt-4">How much do you want?</p>
            <span class="text-muted">We provide online instant cash loans.</span>
            <span class="line my-3"></span>
          </div>
          <div class="row p-0">
            <div class="col-12 p-0 px-4 mt-2">
              <span class="text-uppercase text-muted">amount you want</span>
            </div>
            
            <div class="col-12 p-0 px-4">
 <input type="text" id="amount" formControlName="amount" 
                class="form-control shadow-sm d-flex align-items-center py-2 px-2">
                                                         <span class="text-danger"
                    *ngIf="loanRequestForm.controls['amount'].touched && loanRequestForm.hasError('required', 'amount')">Amount is required</span>
            </div>
            
            <div class="col-12 p-0 px-4 mt-2">
              <span class="text-uppercase text-muted">DURATION</span>
            </div>
            <div class="col-12 p-0 px-4">
              <select class="form-select  d-flex align-items-center py-2 px-2" id="repaymentPeriod" formControlName="repaymentPeriod">
                <option disabled>Select Month</option>
                <option class="valAmount" value="1">1 Month</option>
                <option class="valAmount" value="2">2 Months</option>
                <option class="valAmount" value="3">3 Months</option>
                <option class="valAmount" value="4">4 Months</option>
                <option class="valAmount" value="5">5 Months</option>
                <option class="valAmount" value="6">6 Months</option>
              </select>
                                                                       <span class="text-danger"
                    *ngIf="loanRequestForm.controls['repaymentPeriod'].touched && loanRequestForm.hasError('required', 'repaymentPeriod')">Repayment period is required</span>
            </div>
            <div class="col-12 p-0 px-4 mt-2">
              <span class="text-uppercase text-muted">LOAN PURPOSE</span>
            </div>

            <div class="col-12 p-0 px-4">
              <select class="form-select d-flex align-items-center py-2 px-2" id="purpose" formControlName="purpose">
                <option>Select Purpose</option>
                <option class="valAmount" >Medical</option>
                <option class="valAmount" >Business</option>
                <option class="valAmount" >Education</option>
                <option class="valAmount" >Consumption</option>
              </select>
                                                                                     <span class="text-danger"
                    *ngIf="loanRequestForm.controls['purpose'].touched && loanRequestForm.hasError('required', 'purpose')">Repayment period is required</span>
            </div>
            <div class="col-12 p-0 px-4">
              <div class="d-flex align-items-center my-3">
                <span class="text-muted text-uppercase">you have to pay:</span>
                <span class="c-g ps-1">₦<span id="money">23,640</span></span>
              </div>
            </div>
            <div class="col-12 p-0 px-4">
              <button type="submit" class="btn btn-primary w-100">apply now</button>
              <div class="text-muted text-center mb-4 mt-3">We provide online instant cash loans</div>
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="col-lg-3"></div>
</div>



    </div>
    <!--END OF CONTENTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT   -->

    </main>
  </div>
</div>
