@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

#navbarVertical{
    background-color: #C31E39!important;
}
#loanAmount{
  text-align: end!important;
  font-size: 18px;
}
.form-select{
  /* font-size: 20px!important; */
  height: 40px!important;
}
.success{
  background-color: green;
}

.error{
  background-color: #ff0000;
}

.modal-footer{
  display: flex;
  justify-content: center;
}
.pin{
  text-align: center!important;
  font-size: 17px!important;
  font-weight: 500!important;
}
.nav-link{
  color: #fff!important;
}
.nav-link:hover{
  color: #000!important;
}
.bi{
  color: #fff!important;
}
.bi:hover{
  color: #000!important;
}
.logout{
    cursor: pointer;
}

.line {
  max-height: 10px;
  width: 100px;
  border-top: 2px solid #c31e39;
}

option {
  font-size: 14px;
}

.text-muted {
  font-size: 12px;
  color: #0a0a0a !important;
}

.c-g {
  color: #c31e39;
  font-weight: 800;
}

.dropdown-toggle::after {
  content: "";
  border: none;
}

.form-select {
  font-size: 14px;
}

.form-select:focus {
  box-shadow: none;
  border: 1px solid #ddd;
}

.btn.btn-primary {
  text-transform: uppercase;
  font-size: 14px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c31e39;
  font-weight: 600;
  outline: none;
  border: none;
}

.valAmount {
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

#navbarVertical{
  display: none;
  

}
@media (min-width: 602px) {
#navbarVertical {
    display: block;
  }
  
}

#mobileContent{
  display: none;
}

@media only screen and (max-width: 600px) {
  #mobileContent {
    display: block;
  }
  

  .account {
  background-image: linear-gradient(
    to right,
    #c31e39,
    #ac1c34,
    #961a2f,
    #80172a,
    #6b1524
  );
  border-radius: 0px!important;
}
.cash{
  flex-direction: column;
}

a {
  color: inherit;
  cursor: pointer;
}
.nav-tabs .nav-link {
    /* padding: 1.25rem 0; */
    border-bottom: 1px solid transparent;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    padding: 10px;
}
.nav-tabs .nav-link:hover {
    /* padding: 1.25rem 0; */
    border-bottom: 1px solid transparent;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

/* .nav-tabs .nav-link {
    padding: 0px!important;
    border-bottom: 1px solid transparent;
    
} */

.btn-blue:hover {
  background-color: #000;
  cursor: pointer;
}

.bg-blue {
  color: #fff;
  background-color: #c31e39;
  text-align: center;
}

.bi {
  font-size: 16px !important;
  color: #121212!important;
}

.sendReceive{
  background-color: white;
  color: #ac1c34;
  border: none;
  font-weight: 600;
  font-size: 13px!important;
  padding: 7px;
}
.money {
  background-color: white;
  color: #ac1c34;
  font-size: 13px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 6px;
  padding: 5px 8px 5px 8px;
}

.welcome {
  color: #121212;
  font-size: 20px!important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
  #desktopContent{
    display: none;
  }

 .nav-link{
    font-family: 'Poppins',
    sans-serif;
    color: #c31e39 !important;
    font-size: 15px;
    font-weight: 500;
    
}
.nav-link:hover {
  color: #fff !important;
  background-color: #c31e39;
}

.bi {
  color: #c31e39 !important;
}
.bi:hover {
  color: #fff !important;
}
}
