<!-- LOAN PAGE -->

<section>
  <div class="row">
    <!-- SIDEBAR COLUMN -->
    <div class="col-lg-2 sideBar">

      <!-- SIDEBAR LINKS -->
      <div class="py-4 px-5">
        <div class="linkss  py-5">
          <p class="mb-3 ashBank">ASHBANK</p>
          <ul class="liss">
            <li class="liss py-3"><a class="linkName" routerLink="/user">Dashboard</a>
            </li>
            <li class="liss py-3 "><a class="linkName" routerLink="/send">Send Money</a></li>
            <li class="liss py-3 "><a class="linkName" routerLink="/receive">Receive</a></li>
            <li class="liss py-3 "><a class="linkName" routerLink="/loan">Quick Loan</a></li>
            <li class="liss py-3 "><a class="linkName" routerLink="/profile">Profile</a></li>
            <li class="liss py-3"><a class="linkName" routerLink="/report">Report</a></li>
          </ul>

          <ul class="py-5">
            <li class="liss py-3"><a class="logout" href="#">Logout</a>
          </ul>
        </div>
      </div>

      <!--END OF SIDEBAR LINKS -->


    </div>
    <!-- END OF SIDEBAR COLUMN -->
    <!-- <div class="col-lg-1 "></div> -->


    <div class="col-lg-9  px-5">

      <div class="container">
        <form>
          <div class="d-flex flex-column align-items-center">
            <p class="fs-4 fw-bold m-0">Transfer Money</p>
            <span class="text-muted">Please provide the details you will like to send</span>
            <span class="line my-2"></span>
          </div>
          <div class="row p-0">
            <div class="col-12 p-0 px-4">
              <span class="text-uppercase text-muted">account number</span>
            </div>
            <div class="col-12 p-0 px-4">
              <input type="number" maxlength="10" minlength="10"
                class="form-control shadow-sm d-flex align-items-center py-2 px-2" id="exampleInputPassword1">
            </div>
            <div class="col-12 p-0 px-4 mt-1">
              <span class="text-uppercase text-muted">Select bank</span>
            </div>
            <div class="col-12 p-0 px-4">
              <select class="form-select d-flex align-items-center shadow-sm py-2 px-2" id="amount" aria-label="">
                <option selected hidden>What Bank?</option>
                <option class="valAmount" value="ASHBANK">ASHBANK</option>

              </select>
            </div>

            <!-- AMOUNT -->
            <div class="col-12 p-0 px-4 mt-1">
              <span class="text-uppercase text-muted">amount</span>
            </div>
            <div class="col-12 p-0 px-4">
              <input type="number" maxlength="10" minlength="10"
                class="form-control shadow-sm d-flex align-items-center py-2 px-2" id="exampleInputPassword1">
            </div>

            <!-- RECEIVER'S NAME -->
            <div class="col-12 p-0 px-4 mt-1">
              <span class="text-uppercase text-muted">RECEIVER'S NAME</span>
            </div>
            <div class="col-12 p-0 px-4">
              <input type="text"
                class="form-control shadow-sm d-flex align-items-center py-2 px-2" id="exampleInputPassword1">
            </div>
            <!-- TRANSACTION PIN -->
            <div class="col-12 p-0 px-4 mt-1">
              <span class="text-uppercase text-muted">TRANSACTION PIN</span>
            </div>
            <div class="col-12 p-0 px-4">
              <input type="password"
                class="form-control shadow-sm d-flex align-items-center py-2 px-2" id="exampleInputPassword1">
            </div>


            <div class="col-12 p-0 px-4">
              <div class="d-flex align-items-center my-3">
                <span class="text-muted text-uppercase">you're about to send:</span>
                <span class="c-g ps-1">₦<span id="money">23,640</span></span>
              </div>
            </div>
            <div class="col-12 p-0 px-4">
              <div class="btn btn-primary w-100">Send</div>
              <div class="text-muted text-center mb-4 mt-1">You can make up to <span style="color: #C31E39; font-weight: 600;">30</span>
                free transfers</div>
            </div>
          </div>
        </form>
      </div>



    </div>

  </div>
  <!-- END OF MAIN PAGE COLUMN -->
</section>
