@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

#navbarVertical{
    background-color: #C31E39!important;
}
.nav-link{
  color: #fff!important;
}
.nav-link:hover{
  color: #000!important;
}
.bi{
  color: #fff!important;
}
.bi:hover{
  color: #000!important;
}
.logout{
    cursor: pointer;
}
th{
  font-weight: 600!important;
  font-size: 11px!important;
}
.print{
  background-color: #C31E39;
  color: #fff;
}
.status-paid {
  color: green;
  font-weight: 500;
}

.status-not-paid {
  color: orange;
  font-weight: 500;

  
}
.modal-footer{
  display: flex;
  justify-content: center;
}
 .pin{ text-align: center!important;
  font-size: 17px!important;
  font-weight: 500!important;
}
.moneyy, .money{
  color: #ac1c34;
  font-size: 17px;
  font-weight: 600;
}

.status-due {
  color: red;
  font-weight: 500;

}
.list-group-item{
  padding: 10px 20px!important;
}

.active{
    
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #E31E23;
border-bottom: 3px solid #C31E39;

  }
  td{
  font-size: 14px;
  font-weight: 500;
}
.table td{
  padding: 5px 5px!important;
}
.tab{
  cursor: pointer;
}

#navbarVertical{
  display: none;
}
#desktopContent{
  display: none;
}
@media (min-width: 602px) {
#navbarVertical {
    display: block;
  }
#desktopContent {
    display: block;
  }
  
}
#mobileContent{
  display: none;
}

@media only screen and (max-width: 600px) {
  #mobileContent {
    display: block;
  }
  

  .account {
  background-image: linear-gradient(
    to right,
    #c31e39,
    #ac1c34,
    #961a2f,
    #80172a,
    #6b1524
  );
  border-radius: 0px!important;
}
.cash{
  flex-direction: column;
}

a {
  color: inherit;
  cursor: pointer;
}
.nav-tabs .nav-link {
    /* padding: 1.25rem 0; */
    border-bottom: 1px solid transparent;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    padding: 10px;
}
.nav-tabs .nav-link:hover {
    /* padding: 1.25rem 0; */
    border-bottom: 1px solid transparent;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

/* .nav-tabs .nav-link {
    padding: 0px!important;
    border-bottom: 1px solid transparent;
    
} */

.btn-blue:hover {
  background-color: #000;
  cursor: pointer;
}

.bg-blue {
  color: #fff;
  background-color: #c31e39;
  text-align: center;
}

.bi {
  font-size: 16px !important;
  color: #121212!important;
}

.sendReceive{
  background-color: white;
  color: #ac1c34;
  border: none;
  font-weight: 600;
  font-size: 13px!important;
  padding: 7px;
}
.money {
  background-color: white;
  color: #ac1c34;
  font-size: 13px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 6px;
  padding: 5px 8px 5px 8px;
}

.welcome {
  color: #121212;
  font-size: 20px!important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
  #desktopContent{
    display: none;
  }

 .nav-link{
    font-family: 'Poppins',
    sans-serif;
    color: #c31e39 !important;
    font-size: 15px;
    font-weight: 500;
    
}
.nav-link:hover {
  color: #fff !important;
  background-color: #c31e39;
}

.bi {
  color: #c31e39 !important;
}
.bi:hover {
  color: #fff !important;
}
}